<div class="modal" id="invoice-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tạo đơn hàng mới</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <label>1. Sản phẩm đã chọn:</label>
          <table class="table">
            <thead>
              <tr>
                <th class="col-xs-4 text-center">Sản phẩm</th>
                <th class="col-xs-2 text-center">Giá bán</th>
                <th class="col-xs-2 text-center">Số lượng</th>
                <th class="col-xs-2 text-center">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="products-list">
                  <div class="item">
                    <div class="product-img">
                      <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                    </div>
                    <div class="product-info">
                      <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span>1.000.000<ins>đ</ins></span>
                </td>
                <td class="text-right">01</td>
                <td class="text-center">
                  <label>1.000.000<ins>đ</ins></label>
                </td>
              </tr>
              <tr>
                <td class="products-list">
                  <div class="item">
                    <div class="product-img">
                      <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                    </div>
                    <div class="product-info">
                      <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span>1.000.000<ins>đ</ins></span>
                </td>
                <td class="text-right">01</td>
                <td class="text-center">
                  <label>1.000.000<ins>đ</ins></label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix">
          <label>2. Phương thức thanh toán:</label>
          <div class="radio">
            <label class="radio-material-blue">
              <input type="radio" name="address" id="" value="" checked=""><span class="circle"></span><span class="check">Thanh toán khi giao hàng</span>                               
            </label>
          </div>
          <div class="radio">
            <label class="radio-material-blue">
              <input type="radio" name="address" id="" value="" checked=""><span class="circle"></span><span class="check">Thanh toán online (internet banking)</span>                               
            </label>
          </div>
        </div>
        <div class="clearfix">
          <label>3. Tổng tiền thanh toán:</label>
          <div class="col-xs-12">
            <h4 class="pull-right green-highlight">2.000.000<ins>đ</ins></h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-lime" value="Hoàn tất đơn hàng">
        <a href="" class="btn btn-default">Đóng</a>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->