<div  class="modal n-modal" id="order-success-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"></button>
	    </div>
      <div class="modal-body text-center">
        <h4 class="modal-title alert-title">Đặt mua sản phẩm thành công</h4>
      	<p class="thanks-text"><span class="shop-name">Elise rome</span> cảm ơn bạn đã đặt mua sản phẩm</p>
      	<p class="invoice-text">Mã đơn hàng của bạn là: <span class="invoice-number">#101200160311.</span></p>
      	<p class="normal-text">Bạn vui lòng giữ liên lạc để Shop xác nhận đơn hàng & địa chỉ giao hàng nhé. <br/>Nếu cần hổ trợ gì thêm, bạn đừng ngần ngại liên hệ với Shop!</p>
      	<p>
      		<a class="btn btn-view-more" href="myface-user-shop.html">
      			Xem thêm sản phẩm trên <span class="shop-name">Elise rome</span>
      			<i class="fa fa-arrow-right" aria-hidden="true"></i>
      		</a>
      	</p>
      	<p>
      		<a class="mf-view-more" href="index.html">
      			Xem tiếp trên myFace Shop <i class="fa fa-arrow-right" aria-hidden="true"></i>
      		</a>
      	</p>
      </div>
      <div class="box-footer clearfix">
        <div class="modal-footer">
          <p class="text-center">Hổ trợ từ myFace Shop: 1900 636 798. Hổ trợ từ Shop: (08) 8745 479 - 0989 999 888 <br> (Từ 8:00 - 22:00 tất cả các ngày)</p>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>