.wrap-user {
	min-height: 500px;
  margin-top: 35px;
  margin-bottom: 5px;
  clear: both;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.user-account-header {
  position: relative;
	width: 100%;
	float: left;
	margin-bottom: 30px;
	a {
		color: @text-color-1;
		&:hover {
			color: @primary-color;
		}
	}
	.icon-tools {
		li {
			margin-right: 10px;
      a {
        color: @text-color-1;
      }
      .icon {
        margin-right: 2px;
        &:before {
          width: auto;
          margin-right: 5px;
        }
        &.i-pin {
          &:before {
            width: 12px;
          }
        }
      }
		}
	}
}
.user-img {
	width: 121px;
	height: 121px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 !important;
	float: right;
	img {
		width: 100%;
		min-height: 100%;
	}
}
.user-name {
	font-size: 20px;
	font-weight: bold;
  margin-bottom: 0;
  line-height: 1.25;
}
.user-contact-info {
	margin-bottom: 10px;
  line-height: 1.4;
	.mail-info {
		position: relative;
		&:before {
			content: "-";
			position: absolute;
			top: 0px;
    	left: -8px;
		}
	}
}
.user-account-change-nav {
  padding-left: 0;
  margin-left: -10px;
  margin-top: 2px;
	.nav {
		float: right;
		li {
			&.change-info-btn {
				a {
					border: @border;
					border-radius: 3px;
					color: @text-color-1;
					padding: 6px 15px;
				}
				&.active {
					background-color: #dfdfdf;
          border-radius: 3px;
					a {
						color: #212121;
    				font-weight: 600;
					}
				}
			}
			&.more-nav {
				a {
          height: 34px;
          overflow: hidden;
					color: @text-color-2;
					padding: 7px 10px;
					border: 1px solid transparent;
          &:hover {
            border-radius: 3px;
          }
          i {
            &:before {
              font-size: 19px;
              line-height: 1.2;
            }
          }
				}
			}
		}
	}
}
.user-account-nav {
	width: 100%;
	float: left;
	.nav {
		li {
			border: @border;
			border-radius: 3px;
			margin-right: 2px;
			a {
				color: @text-color-2;
				padding: 6px 20px;
			}
			&.active {
				background-color: @line-color-1;
				a {
					color: @text-color-1;
					font-weight: 600;
				}
			}
		}
	}
  .notifi-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    right: 20px;
    background-color: @green;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
  }
}
.user-account-content {
	width: 100%;
	float: left;
	margin-top: 35px;
}
.order-content {
  .load-more {
    margin: 15px 0 5px;
  }
}
.address-content {
  .user-title {
    margin-top: 0;
  }
  .form-wrap {
    width: 100%;
    float: left;
    margin-top: 15px;
  }
  .form-horizontal {
    .form-group {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.general-product-row {
	.m-product-item {
		padding: 0;
		margin-bottom: 1px;
		padding-right: 1px;
	}
	.m-product-info {
		padding: 0;
	}
}
.user-head {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user-title {
	font-size: 16px;
	font-weight: 700;
	float: left;
	width: auto;
	margin-top: 10px;
	margin-bottom: 0;
}
.order-status {
	margin-right: -15px;
	float: right;
}
.order-list {
	display: block;
  margin: 115px 0 75px;
	.item-property-label,
	.item-property-values {
		display: block;
	}
	.item-property-label {
		width: 100%;
    padding-bottom: 0;
    margin-bottom: 10px;
	}
	.item-property-values {
		.property-select {
	    margin: 0px 10px 8px 0;
	    a {
	    	padding: 4px 8px;
	    }
		}
	}
}
.order-list-more {
	text-decoration: underline;
	color: @text-color-1;
	&:hover {
		text-decoration: none;
		color: @primary-color;
	}
}
.order-detail {
	.user-title {
		width: 100%;
		margin-bottom: 20px;
	}
	.order-row {
		margin-bottom: 20px;
		label {
			width: 180px;
			margin-right: 15px;
		}
	}
}
.order-process {
	width: 100%;
	float: left;
	.progressbar {
		height: 75px;
		margin: 0 0 30px;
		position: relative;
		padding: 0;
		&:after {
			content: '';
	    height: 1px;
	    background: @line-color-1;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: auto;
	    bottom: 15px;
		}
		li {
			position: relative;
			width: 25%;
			color: @text-color-2;
			&:before {
				width: 18px;
				background-color: #fff;
				display: block;
				background-image: none;
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f058";
				font-size: 18px;
				top: auto;
				bottom: -38px;
				z-index: 9;
			}
			&.active {
				&:before {
					color: #ff5722;
				}
			}
			&:after {
				display: none;
			}
			label {
				width: 100%;
			}
		}
	}
}
.order-table {
	a {
		color: @text-color-1;
		&:hover {
			text-decoration: underline;
		}
	}
}
.data-price,
.data-discount,
.data-quantity,
.data-total {
	text-align: right;
}
.order-tb-lb {
	div {
		float: right;
		padding-right: 15px;
		font-weight: 600;
	}
}
.order-tb-price {
	text-align: right;
}
.total-sum {
	font-weight: 600;
	color: #ff5722;
}
.payment-info {
	width: 100%;
	float: left;
	margin-top: 10px;
	.payment-block {
		width: 100%;
		float: left;
		margin-top: 10px;
	}
}
.p-text {
	color: @green;
	text-decoration: underline;
	font-weight: 700;
	margin-right: 5px;
}
.p-group-1 {
	.checkbox {
		margin-top: 10px;
		margin-bottom: 15px;
		color: @text-color-2;
	}
}
.change-info-form {
	.control-label {
		margin-bottom: 5px;
		font-weight: normal;
	}
	.change-pass-link-btn {
		margin-left: 15px;
		margin-top: 30px;
    background: @bg-color-3;
    &:after {
      content: "\f044";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 15px;
      color: #727272;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 12px;
    }
	}
	.form-title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}
}
.change-pass-content {
  .form-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
  }
  .form-horizontal  {
    label {
      font-weight: normal;
      margin-bottom: 5px;
    }
  }
}
.address-list {
	width: 100%;
	margin-top: 25px;
	float: left;
	.accordion-section {
		margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
		&:first-child {
			.address {
				border-top: @border;
			}
		}
	}
  .box-tools {
    margin-top: 5px;
    button {
      padding: 0;
      i {
        font-size: 15px;
      }
    }
  }
}
.accordion,
.accordion * {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.address {
	padding: 20px 0 20px 20px;
	margin: 0;
	list-style: none;
  border-bottom: @border;
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1db";
  }
	li {
		list-style: none;
		padding: 0;
		p {
			margin-bottom: 0;
		}
	}
}
.address-details {
	padding: 20px 0;
}
.box-tools {
	button {
		&:first-child {
			margin-right: 10px;
		}
	}
}
.add-default-btn {
  width: 165px;
  color: @text-color-2;
  border: @border;
  background-color: @line-color-1;
  float: right;
  position: relative;
  &.default {
    &:before {
      position: absolute;
      left: 30px;
      top: 50%;
      margin-top: -8px;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f058";
      color: @green;
    }
  }
}
.add-address-form {
	display: none;
}
.gift-title {
	font-weight: 700;
}
.giftcode-block {
	width: 100%;
	height: 100px;
	padding: 15px;
	margin-bottom: 20px;
	border: @border;
	border-radius: 3px;
	> div {
		padding-left: 0;
		padding-right: 0;
	}
}
.coin {
	height: 45px;
	font-size: 26px;
	padding-left: 72px;
	padding-top: 5px;
	background: url('../images/icons/coins.png') no-repeat top left;
	background-size: 65px 45px;
}
.giftcode-history {
	margin-bottom: 20px;
	a {
		color: @text-color-1;
		text-decoration: underline;
	}
}
.giftcode-table-wrap {
	table {
		th {
			background-color: #efefef;
		}
	}
	.gift-des {
		padding-right: 60px;
		a {
			color: @green;
			text-decoration: underline;
		}
	}
	.btn-tool {
		width: 165px;
		.btn-box-tool {
			margin-left: 10px;
		}
	}
	.gift-date {
		width: 110px;
		border: @border;
		border-radius: 3px;
		display: inline-block;
		padding: 7px;
		text-align: center;
		background-color: @bg-color-3;
		color: @text-color-2;
	}
	.available {
		.gift-date {
			background-color: #fff;
			color: @green;
		}
	}
}
.remove-radio {
	.checkbox {
		margin-top: 0;
		margin-bottom: 0;
		span {
			&:before {
				top: 2px;
			}
		}
	}
}
@media (max-width: @screen-md-max) {
  .user-account-img {
    min-width: 0;
    width: auto;
    float: left;
    .user-img {
      float: left;
    }
  }
  .user-account-change-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin: 0;
  }
}
@media (max-width: @screen-sm-max) {
  .user-account-img {
    padding-left: 0;
  }
  .user-img {
    width: 100px;
    height: 100px;
  }
  .user-account-info {
    padding: 0;
  }
  .user-name {
    margin-top: 10px;
  }
  .user-account-nav {
    > div {
      padding: 0;
    }
    .navbar-nav {
      margin: 0;
      .touch-slide;
      li {
        display: inline-block;
        float: none;
      }
    }
  }
  .user-account-content {
    > div {
      padding: 0;
    }
  }
  .order-list {
    margin: 20px 0 15px;
    ul {
      margin-bottom: 0;
    }
  }
}
@media (max-width: @screen-xs-max) {
  .user-img {
    width: 75px;
    height: 75px;
  }
  .user-account-header {
    margin-bottom: 20px;
    .tool-info {
      width: 100%;
      float: left;
      margin-top: 50px;
      li {
        margin-right: 0;
        width: 24%;
        text-align: center;
        .icon-text {
          display: none;
        }
      }
    }
  }
  .user-name {
    font-size: 18px;
  }
  .user-contact-info {
    .mail-info {
      &:before {
        display: none;
      }
    }
  }
  .address {
    padding-left: 0;
    &:before {
      display: none;
    }
    .col-sm-2 {
      width: 60px;
      margin-top: 10px;
      float: left;
    }
    .col-sm-4 {
      float: right;
      margin-top: 10px;
    }
  }
  .user-account-change-nav {
    top: 70px;
    right: auto;
    left: 105px;
    .nav {
      li {
        display: block;
        float: left;
        background-color: #fff;
      }
    }
  }
  .user-account-content {
    margin-top: 15px;
  }
  .change-content {
    .form-right {
      padding: 0;
      .change-pass-link-btn {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .order-status {
    width: 100%;
    float: left;
    margin-right: 0;
    margin-top: 10px;
    padding: 0;
  }
}
@media (min-width: @screen-lg-min) {
  .wrap-user {
    margin-left: -15px;
    margin-right: -15px;
  }
  .user-account-left-side {
    width: 480px;
  }
  .user-account-left-right {
    width: 360px;
    margin-left: 105px;
  }
  .add-address-form {
    width: 70%;
    .form-horizontal {
      .col-sm-4 {
        width: 42%;
      }
      .col-sm-8 {
        width: 58%;
      }
      .col-sm-offset-4 {
        margin-left: 42%;
      }
    }
  }
  .address-details {
    .col-md-8 {
      width: 70%;
      .form-horizontal {
        .col-sm-4 {
          width: 42%;
        }
        .col-sm-8 {
          width: 58%;
        }
        .col-sm-offset-4 {
          margin-left: 42%;
        }
      }
    }
  }
  .update-p-form-btn {
    width: 165px;
    height: 42px;
  }
  .change-info-form,
  .change-pass-content {
    .update-p-form-btn {
      margin-top: 22px;
    }
  }
}

