.wrap-user {
	width: 100%;
	min-height: 500px;
}
.user-account-header {
  position: relative;
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	a {
		color: @text-color-1;
		&:hover {
			color: @primary-color;
		}
	}
	.icon-tools {
		li {
			margin-right: 10px;
		}
	}
}
.user-account-img {
	min-width: 165px;
}
.user-img {
	width: 121px;
	height: 121px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 !important;
	float: right;
	img {
		width: 100%;
		min-height: 100%;
	}
}
.user-name {
	font-size: 20px;
	font-weight: bold;
}
.user-contact-info {
	margin-bottom: 10px;
	.mail-info {
		position: relative;
		&:before {
			content: "-";
			position: absolute;
			top: 0px;
    	left: -8px;
		}
	}
}
.user-account-change-nav {
  padding: 0;
	.nav {
		float: right;
		li {
			&.change-info-btn {
				a {
					border: @border;
					border-radius: 3px;
					color: @text-color-1;
					padding: 6px 15px;
				}
				&.active {
					background-color: #dfdfdf;
					a {
						color: #212121;
    				font-weight: 600;
					}
				}
			}
			&.more-nav {
				a {
					color: @text-color-2;
					padding: 6px 15px;
					border: 1px solid transparent;
				}
			}
		}
	}
}
.user-account-nav {
	width: 100%;
	float: left;
	.nav {
		li {
			border: @border;
			border-radius: 3px;
			margin-right: 2px;
			a {
				color: @text-color-2;
				padding: 6px 20px;
			}
			&.active {
				background-color: @line-color-1;
				a {
					color: @text-color-1;
					font-weight: 600;
				}
			}
		}
	}
}
.user-account-content {
	width: 100%;
	float: left;
	padding-top: 30px;
}
.general-product-row {
	.m-product-item {
		padding: 0;
		margin-bottom: 1px;
		padding-right: 1px;
	}
	.m-product-info {
		padding: 10px;
	}
}
.user-head {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user-title {
	font-size: 16px;
	font-weight: 700;
	float: left;
	width: auto;
	margin-top: 10px;
	margin-bottom: 0;
}
.order-status {
	margin-right: -15px;
	float: right;
}
.order-list {
	display: block;
	margin: 100px 0 60px;
	.item-property-label,
	.item-property-values {
		display: block;
	}
	.item-property-label {
		width: 100%;
	}
	.item-property-values {
		.property-select {
	    margin: 0px 4px 8px 0;
	    a {
	    	padding: 4px 8px;
	    }
		}
	}
}
.order-side {
	margin-right: -30px;
}
.order-list-more {
	text-decoration: underline;
	color: @text-color-1;
	&:hover {
		text-decoration: none;
		color: @primary-color;
	}
}
.order-detail {
	.user-title {
		width: 100%;
		margin-bottom: 20px;
	}
	.order-row {
		margin-bottom: 20px;
		label {
			width: 180px;
			margin-right: 15px;
		}
	}
}
.order-process {
	width: 100%;
	float: left;
	.progressbar {
		height: 75px;
		margin: 0 0 30px;
		position: relative;
		padding: 0;
		&:after {
			content: '';
	    height: 1px;
	    background: @line-color-1;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: auto;
	    bottom: 15px;
		}
		li {
			position: relative;
			width: 25%;
			color: @text-color-2;
			&:before {
				width: 18px;
				background-color: #fff;
				display: block;
				background-image: none;
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f058";
				font-size: 18px;
				top: auto;
				bottom: -38px;
				z-index: 9;
			}
			&.active {
				&:before {
					color: #ff5722;
				}
			}
			&:after {
				display: none;
			}
			label {
				width: 100%;
			}
		}
	}
}
.order-table {
	a {
		color: @text-color-1;
		&:hover {
			text-decoration: underline;
		}
	}
}
.data-price,
.data-discount,
.data-quantity,
.data-total {
	text-align: right;
}
.order-tb-lb {
	div {
		float: right;
		padding-right: 15px;
		font-weight: 600;
	}
}
.order-tb-price {
	text-align: right;
}
.total-sum {
	font-weight: 600;
	color: #ff5722;
}
.payment-info {
	width: 100%;
	float: left;
	margin-top: 10px;
	.payment-block {
		width: 100%;
		float: left;
		margin-top: 10px;
	}
}
.p-text {
	color: @green;
	text-decoration: underline;
	font-weight: 700;
	margin-right: 5px;
}
.p-group-1 {
	.checkbox {
		margin-top: 10px;
		margin-bottom: 15px;
		color: @text-color-2;
	}
}
.change-info-form {
	.control-label {
		margin-bottom: 5px;
		font-weight: normal;
	}
	.change-pass-link-btn {
		margin-left: 15px;
		margin-top: 28px;
	}
	.form-title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}
}
.address-list {
	width: 100%;
	margin-top: 30px;
	float: left;
	.accordion-section {
		margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
		&:first-child {
			.address {
				border-top: @border;
			}
		}
	}
}
.accordion,
.accordion * {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.address {
	padding: 20px 0 20px 20px;
	margin: 0;
	list-style: none;
  border-bottom: @border;
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1db";
  }
	li {
		list-style: none;
		padding: 0;
		p {
			margin-bottom: 0;
		}
	}
}
.address-details {
	padding: 20px 0;
}
.box-tools {
	button {
		&:first-child {
			margin-right: 10px;
		}
	}
}
.add-default-btn {
  width: 165px;
  color: @text-color-2;
  border: @border;
  background-color: @line-color-1;
  float: right;
  position: relative;
  &.default {
    &:before {
      position: absolute;
      left: 30px;
      top: 50%;
      margin-top: -8px;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f058";
      color: @green;
    }
  }
}
.add-address-form {
	display: none;
}
.gift-title {
	font-weight: 700;
}
.giftcode-block {
	width: 100%;
	height: 100px;
	padding: 15px;
	margin-bottom: 20px;
	border: @border;
	border-radius: 3px;
	> div {
		padding-left: 0;
		padding-right: 0;
	}
}
.coin {
	height: 45px;
	font-size: 26px;
	padding-left: 72px;
	padding-top: 5px;
	background: url('../images/icons/coins.png') no-repeat top left;
	background-size: 65px 45px;
}
.giftcode-history {
	margin-bottom: 20px;
	a {
		color: @text-color-1;
		text-decoration: underline;
	}
}
.giftcode-table-wrap {
	table {
		th {
			background-color: #efefef;
		}
	}
	.gift-des {
		padding-right: 60px;
		a {
			color: @green;
			text-decoration: underline;
		}
	}
	.btn-tool {
		width: 165px;
		.btn-box-tool {
			margin-left: 10px;
		}
	}
	.gift-date {
		width: 110px;
		border: @border;
		border-radius: 3px;
		display: inline-block;
		padding: 7px;
		text-align: center;
		background-color: @bg-color-3;
		color: @text-color-2;
	}
	.available {
		.gift-date {
			background-color: transparent;
			color: @green;
		}
	}
}
.remove-radio {
	.checkbox {
		margin-top: 0;
		margin-bottom: 0;
		span {
			&:before {
				top: 2px;
			}
		}
	}
}
@media (max-width: @screen-md-max) {
  .user-account-img {
    min-width: 0;
    width: auto;
    float: left;
    .user-img {
      float: left;
    }
  }
  .user-account-change-nav {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: @screen-sm-max) {
  .user-img {
    width: 100px;
    height: 100px;
  }
  .user-name {
    margin-top: 10px;
  }
}
@media (max-width: @screen-xs-max) {
  .user-img {
    width: 75px;
    height: 75px;
  }
  .user-account-change-nav {
    position: absolute;
    top: 0;
    right: 0;
  }
}
