.checkout {
	.container {
		padding: 0;
	}
	.checkout-step-3 {
		padding-top: 40px;
	}
	header {	
		height: 70px;
		overflow: hidden;
		border-bottom: @border;
		margin-bottom: 15px;
		@media (max-width: @screen-xs-max) {
	    height: auto;
	  }
		.shop-logo {
			position: relative;
			padding-left:  30px;
			&:hover {
				&:before {
					color: @secondary-color;
				}
			}
			&:before {
				content: "\f104";
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 18px;
				width: 15px;
				text-align: left;
				color: @primary-color;
				position: absolute;
				left: 15px;
				top: 25px;
			}
			a {
				display: block;
				padding: 20px 0;
			}
		}
		.logo-text {
			font-size: 27px;
	    font-weight: bold;
	    margin: 0;
	    color: @secondary-color;
	    word-spacing: 2px;
		}
	}
	.divider {
	  border-style: dashed;
	}
	footer {
		&:before {
			width: 100%;
			left: 0;
			margin-left: 0;
		}
	}
	main {
		margin-bottom: 70px;
	}
}
.checkout-step-1 {
	.control-label {
		padding-right: 0;
		font-weight: normal;
	}
	textarea {
		resize: none;
	}
	.panel-body {
		> .row {
			>.col-md-7 {
				@media (min-width: @screen-lg-min) {
				  padding-right: 25px;
				}
			}
		}
	}
}
.checkout-group-1 {
	.rg-group-1-1 {
		width: 22%;
		float: left;
		.btn,
		.default-dropdown {
			min-width: auto;
			&.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
				width: 100%;
			}
			height: auto;
			.dropdown-toggle {
				width: 100%;
			}
		}
	}
	.rg-group-1-2 {
		width: 76%;
		float: right;
	}
}
.checkout-group-8 {
	.control-label {
		padding-top: 0;
		margin-bottom: 10px;
	}
}
.tel-group {
	.form-control {
		.placeholder(@text-color-2, italic, 0.7);
	}
}
.btn-checkout {
	width: 100%;
	padding: 5px 10px 0;
	margin-bottom: 20px;
	.btn {
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		i {
			margin-left: 5px;
			font-size: 20px;
		}
	}
}
.hotline {
	float: right;
	padding: 20px 15px;
	span {
		display: block;
	}
	@media (max-width: @screen-xs-max) {
		padding: 0 15px 10px;
	}
}
.hotline-number {
	.orange-text();
	margin-left: 5px;
	font-weight: bold;
	font-size: 16px;
}
.checkout-group-4 {
	.default-dropdown {
		width: 100% !important;
		height: auto;
		.dropdown-toggle {
			width: 100%;
		}
	}
}
.city-2,
.city-3 {
	width: 49%;
	float: left;
	.default-dropdown {
		width: 100% !important;
		height: auto;
		.dropdown-toggle {
			width: 100%;
		}
	}
}
.city-3 {
	float: right;
}
.box-login {
	margin-top: 150px;
	padding-top: 10px;
	border-top: @border;
	.btn {
		width: 180px;
		@media (max-width: @screen-xs-max) {
			width: 100%;
			max-width: 325px;
		}
	}
}
.checkout-box-2 {
	.coupon-group {
		.block;
		.coupon-input {
			width: 70%;
			float: left;
		}
		.coupon-btn {
			width: 28%;
			float: right;
		}
	}
	.coupon-input {
		@media (max-width: @screen-sm-max) {
			display: inline-block;
		}
	}
	.btn-secondary {
		border-color: darken(@btn-color-2, 5%);
		width: auto;
		display: inline-block;
	}
}
.tel-group {
	> .col-sm-7 {
		padding-left: 0;
	}
}
.box-cart {
	.box();
	padding: 0;
	.table {
		margin-bottom: 0;
	}
}
.cart-table {
	width: 100%;
	.cart-header,
	.cart-product,
	.cart-body,
	.cart-footer {
		width: 100%;
		display: table;
		border-top: @border;
	}
	.cart-header {
		border-top: 0;
		label,
		.cart-amount {
			margin-bottom: 0;
		}
		.cart-amount {
			span {
				font-weight: bold;
				color: @primary-color;
			}
		}
	}
	.cart-row {
		width: 100%;
		display: table-row;
		.cart-left, 
		.cart-right {
			padding: 10px;
			display: table-cell;
			vertical-align: middle;
		}
		.cart-left {
			width: 70%;
		}
		.cart-right {
			text-align: right;
		}
	}
	.cart-product {
		padding-left: 10px;
		padding-right: 10px;
		.cart-left {
      font-size: 11px;
      font-family: Arial, sans-serif;
      padding-left: 0;
    }
    .cart-right {
    	padding-right: 0;
    }
    .cart-row {
    	.cart-left,
    	.cart-right {	
    		border-top: @border;
    	}
	    &:first-child {
	    	.cart-left,
	    	.cart-right {	
	    		border-top: 0;
	    	}
	    }
    }
    .amount {
    	color: @green;
    }
	}
	.cart-body {
		padding-top: 10px;
		.cart-row {	
			.cart-left, 
			.cart-right {
				padding: 5px 10px;
			}
		}
	}
	.sub-price {
		font-weight: bold;
	}
  .ship-row {
  	.cart-left {
  		font-style: italic;
  	}
  }
  .ship-text {
  	color: @primary-color;
  }
  .total-price {
  	> div {
	  	font-size: 16px;
	  	font-weight: bold;
    }
  	.price {
  		color: @primary-color;
  	}
  }
}
.cart-change {
	.footer-link-1;
	text-decoration: underline;
}
.note-span {
	text-decoration: underline;
}
.box-row {
	width: 100%;
	display: table;
}
.customer-info {
	margin: 10px 0 5px;
	font-weight: bold;
}
.customer-address {
	margin-bottom: 0;
}
.pay-form {
	line-height: 1.45;
}
.btn-pay {
	width: 240px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 18px;
	i {
		margin-left: 5px;
		font-size: 20px;
	}
}
.pay-form {
	.radio {
		margin-top: 8px;
		margin-bottom: 8px;
		&:first-child {
			margin-top: 4px;
		}
		label {
			display: table-cell;
			ma
			input {
				margin-top: 6px;
			}
			img {
				width: 46px;
				height: 32px;
				vertical-align: middle;
				margin: 0 5px;
			}
		}
	}
}
.step-3-block {
	position: relative;
	.block;
	padding: 0 15px 0 30px;
	.step-block-title {
		font-weight: 500;
		font-size: 20px;
		position: relative;
		margin-bottom: 15px;
		> span {
			position: absolute;
			top: 0;
			left: -30px;
			color: @green;
		}
	}
	.invoice-number {
		font-size: 16px;
		color: @green;
		font-weight: 500;
	}
	&.st-bl-1 {
		> p {
			margin-bottom: 0;
		}
		& + .divider{
			margin-top: 15px;
		}
	}
	&.st-bl-3 {
		color: @secondary-color;
		font-size: 18px;
		@media (max-width: @screen-xs-max) {
		  font-size: 14px;
		}
		.backshop-btn {
			color: @secondary-color;
			position: relative;
			i {
				position: absolute;
				top: 2px;
				left: 100%;
				margin-left: 10px;
				color: @primary-color;
				margin-left: 10px;
				font-size: 22px;
				@media (max-width: @screen-xs-max) {
				  font-size: 16px;
				}
			}
			&:hover {
				color: @primary-color;
				.shop-name {
					color: @primary-color;
				}
			}
		}
	}
	.shop-name {
		color: @secondary-color;
		font-weight: bold;
	}
}
.box-log {
	width: 100%;
	display: none;
	&.login-form {
		padding: 5px 0 30px;
	}
	.divider {
		border-style: solid;
		&.mr-10 {
			margin: 10px 0;
		}
	}
	.form-title {
		width: 100%;
		color: @secondary-color;
		margin-bottom: 15px;
	}
	.remember-text {
		float: right;
		margin-bottom: 15px;
		i {
			color: @primary-color;
		}
	}
	.forget-text {
		float: right;
		text-decoration: underline;
		margin-bottom: 10px;
		.note;		
		font-size: 14px;
		&:hover {
			color: @link-hover-color;
			text-decoration: none;
		}
	}
	.login-control {
		width: 250px;
		float: right;
		margin-bottom: 15px;
		background-color: @secondary-color;
		&:hover {
			background-color: @secondary-color-lighter;
			border-color: @secondary-color-lighter;
		}
	}
	&.register-form {
		padding: 15px 0 5px;
		.form-group {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.register-control {
		width: 100%;
		background-color: @secondary-color;
		&:hover {
			background-color: @secondary-color-lighter;
			border-color: @secondary-color-lighter;
		}
	}
	.dropdown-toggle {
		&.btn-default {
			color: rgba(144, 144, 144, 0.8);
			&:hover,
			&:active,
			&:focus {
				color: #fff;
			}
		}
  }
  .rg-group-1 {
  	.rg-group-1-1 {
  		width: 20%;
  		float: left;
  		.btn,
  		.default-dropdown {
  			min-width: auto;
  			&.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
					width: 100%;
				}
  			height: auto;
  			.dropdown-toggle {
  				width: 100%;
  			}
  		}
  	}
  	.rg-group-1-2 {
  		width: 78%;
  		float: right;
  	}
  }
  .rg-group-5 {
  	.default-dropdown {
  		width: 100% !important;
			.dropdown-toggle {
			  width: 100%;
			}
		}
  }
  .rg-group-9 {
  	margin-bottom: 20px;
  	.control-label {
	    padding-top: 0;
	    margin-bottom: 10px;
		}
  }
}

@media (max-width: @screen-sm-max) {
  .checkout-process {
		display: none;
	}
}
