.checkout {
	.container {
		padding: 0;
	}
	header {	
		height: 70px;
		overflow: hidden;
		border-bottom: @border;
		margin-bottom: 15px;
		.shop-logo {
			position: relative;
			padding-left:  30px;
			&:before {
				content: "\f104";
				font: normal normal normal 14px/1 FontAwesome;
				width: 15px;
				text-align: left;
				color: @primary-color;
				position: absolute;
				left: 15px;
				top: 25px;
			}
			a {
				display: block;
				padding: 23px 0;
			}
		}
		.logo-text {
			font-size: 26px;
			font-weight: bold;
			color: @secondary-color;
			display: none;
		}
	}
	.divider {
	  border-style: dashed;
	}
	.cart-table {
		.cart-title {
			label,
			.cart-amount {
				margin-bottom: 0;
			}
			.cart-amount {
				span {
					font-weight: bold;
					color: @primary-color;
				}
			}

		}
		> thead,
	  > tbody,
	  > tfoot {
	    > tr {
	      > th,
	      > td {
	        font-weight: normal;
	        border: 0;
	      }
	    }
	  }
	  > thead,
	  > tbody,
	  > tfoot {
	    > tr {
	      > th{
	        width: 70%;
	      }
	    }
	  }
		.product {
			> th {
        font-size: 11px;
        font-family: Arial, sans-serif;
      }
      .amount {
      	color: @green;
      }
		}
		> thead,
	  > tbody,
	  > tfoot {
	    > tr {
	      > td {
	        text-align: right;
	      }
	    }
	  }
	  .ship-row {
	  	>th {
	  		font-style: italic;
	  	}
	  }
	  .ship-text {
	  	color: @primary-color;
	  }
	  .total-price {
	  	> th,
      > td {
		  	font-size: 16px;
		  	font-weight: bold;
      }
	  	.price {
	  		color: @primary-color;
	  	}
	  }
	}
}
.checkout-step-1 {
	.control-label {
		padding-right: 0;
		font-weight: normal;
	}
}
.checkout-group-8 {
	.control-label {
		padding-top: 0;
		margin-bottom: 10px;
	}
}
.btn-checkout {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
}
.hotline {
	float: right;
	padding: 20px 15px;
	span {
		display: block;
	}
}
.hotline-number {
	.orange-text();
	margin-left: 5px;
	font-weight: bold;
	font-size: 16px;
}
.checkout-group-4 {
	.default-dropdown {
		width: 100% !important;
		height: auto;
		.dropdown-toggle {
			width: 100%;
		}
	}
}
.city-2,
.city-3 {
	width: 49%;
	float: left;
	.default-dropdown {
		width: 100% !important;
		height: auto;
		.dropdown-toggle {
			width: 100%;
		}
	}
}
.city-3 {
	float: right;
}
.box-login {
	margin-top: 150px;
	padding-top: 10px;
	border-top: @border;
	.btn {
		width: 160px;
	}
}
.checkout-box-2 {
	.coupon-input {
		width: 160px;
	}
}
.box-cart {
	.box();
	padding: 0;
	.table {
		margin-bottom: 0;
	}
}
.cart-change {
	.footer-link-1;
	text-decoration: underline;
}