.checkout-myface {
	header {	
		.shop-logo {
			position: relative;
			a {
				display: block;
				padding: 15px 0;
				&:before {
					display: none;
				}
			}
		}
		.logo-text {
			height: 42px;
		}
	}
}