.myface-shop {
	width: 100%;
	height: 100%;
	.header-row-1 {
		margin-bottom: 0;
	}
}
.wrap-banner {
	height: 415px;
	margin-bottom: 15px;
	float: left;
	overflow: hidden;
	.banner-item {
		border: @border;
		border-radius: @border-radius;
		overflow: hidden;
		img {
			width: 100%;
			min-height: 100%;
			border-radius: @border-radius;
		}
	}
}
.banner-left {
	width: 855px;
}
.banner-right {
	width: 315px;
	padding-left: 0;
}
.banner-1 {
	height: 415px;
	position: relative;
	&:hover {
		.arrow {
			opacity: 1;
		}
	}
	.banner-1-inner {
		width: 100%;
		min-height: 100%;
		border-radius: @border-radius;
	}
}
.arrow {
  width: 30px;
  height: 60px;
	position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  margin-top: -30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  border-radius: 0 3px 3px 0;
  opacity: 0;
  &:hover {
  	background-color: rgba(255, 255, 255, 1);
  }
  .icon {
  	&:before {
  		content: "\f104";		
  		font-size: 28px;
  	}
  }
  &.arrow-right {
  	left: auto;
  	right: 0;
  	border-radius: 3px 0 0 3px;
  	.icon {
  		&:before {
	  		content: "\f105";
	  		margin-left: 5px;
	  	}
  	}
  }
}
.banner-2 {
	height: 250px;
}
.banner-3 {
	height: 150px;
	margin-top: 15px;
}
.tabs-bar {
  width: 100%;
  height: 50px;
  float: left;
  margin-bottom: 40px; 
  border-bottom: @border;
  ul {
  	list-style: none;
  }
}
.tabs-menu {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	
}
.tab-item {
	position: relative;
  display: inline-block;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  > a {
  	padding: 15px 0;
  	float: left;
  	line-height: 20px;
  	color: @text-color-1;
  	font-weight: 600;
		&:hover {
			color: @primary-color;
		}
  	&:after {
			content: "\f0d7";
	    width: 15px;
	    height: 15px;
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: 14px;
	    text-align: right;
		}
  }
  &.active > a {
  	&,
  	&:hover,
  	&:focus {
  		color: @primary-color;
  	}
  }
  &:hover {
  	> a {
  		color: @primary-color;
  	}
  	.tab-sub {
  		display: block;
  		background-color: #fff;
  	}
  }
}
.tab-sub {
	display: none;
	width: auto;
	position: absolute;
	min-width: 1px;
	top: 90%;
	left: 0;
	z-index: 99;
	margin: 0;
	padding: 1px 0;
	text-align: left;
	max-height: 245px;
	overflow-y: auto;
	li {
		&.active {
			a {
				background-color: @primary-color;
				color: #fff;
			}
		}
	}
	&::-webkit-scrollbar {
    width: 5px;
	}
	&::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	} 
	&::-webkit-scrollbar-thumb {
	  background-color: #949393;
	  border-radius: 4px;
	  outline: 1px solid slategrey;
	}
}
.wrap-product {
}
.btn-loadmore {
	width: 500px;
	height: 40px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-color: #dfdfdf;
	color: @text-color-2;
	background-color: transparent;
	&:hover {
		color: #fff;
		background-color: @primary-color;
		border-color: @primary-color;
	}
}

/*myface-shop-list*/
.m-shop-list {
	.list-row {
		float: left;
		padding-top: 20px;
		border-top: @border;
		&:first-child {
			padding-top: 0;
			border-top-color: transparent;
		}
	}
	.arrow {
		opacity: 1;
		left: 15px;
		&.arrow-right {
			left: auto;
			right: 15px;
		}
	}
}
.shop-card {
	padding-left: 140px;
	color: @text-color-2;
	margin-bottom: 10px;
	a {
		color: @text-color-2;
		&:hover {
			color: @primary-color;
		}
	}
	.icon-links {
		width: 100%; 
		position: relative; 
		bottom: none; 
		right: none; 
		overflow: hidden;
		.icon-text {
			display: none;
		}
	}	
	.shop-name {
		padding: 0;
		a {
			color: @text-color-1;
			&:hover {
				color: @primary-color;
			}
		}
	}
	.shop-img {
		width:auto; 
		height:auto; 
		position: absolute; 
		top: 0; 
		left: 0;
	}
}
.meta {
	margin: 0 0 5px;
}
.meta-tags {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.m-shop-list-row {
	padding: 0 15px;
	overflow: hidden;
	.m-product-list {
		white-space: nowrap; 
		position:static; 
		overflow: hidden; 
	}
	.m-product-item {
		float: none; 
		display: inline-block;
		padding: 0;
	}
	.m-product-info {
		white-space: normal;
		height: 155px;
		padding: 0;
	}
}
