.banner {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 0 20px;
	img {
		width: 100%;
	}
}
.product-onface {
	width: 800px;
}
.nav-filter {
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.select-filter {
	width: 130px;
	float: left;
}
.product-container {
	width: 100%;
	float: left;
}