.mf-register {
	footer {
		max-width: 750px;
		float: none;
		margin-right: auto;
		margin-left: auto;
		color: @text-color-1;
		.hotline-number {
			text-decoration: none;
			color: @text-color-1;
		}
	}
	main {
		max-width: 750px;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
	}
	header {
		> div {
			max-width: 780px;
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
.help-nav {
	.nav {
		float: right;
		margin: 0;
		> li {
			width: auto;
			display: inline-block;
			> a {
				padding: 25px 5px;
   			text-decoration: underline;
   			color: @text-color-1;
 				&:hover {
 					text-decoration: none;
 					color: @primary-color;
 					background-color: transparent;
   			}
			}
		}
	}
}
.login-main {
	width: 100%;
	float: left;
	padding: 20px 5px;
	margin-top: 35px;
	border: @border;
	border-radius: 4px;
	.btn-lg-by-face {
		width: 256px;
		margin-bottom: 20px;
		background: #3a5897;
    border-color: #3a5897;
    color: #fff;
	}
  .tab-item > a {
    text-transform: none;
  }
  @media (max-width: @screen-xs-max) {
    margin-top: 0;
    border: 0;
  }
}
.tabs-login {
	padding: 0;
	margin: 0 0 20px;
	.tab-item {
		a {
			color: @text-color-2;
			font-size: 16px;
			font-weight: 600;
			padding-bottom: 0;
			padding-top: 0;
			&:before {
				content: "\f10c";
		    width: 15px;
		    height: 15px;
		    display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    font-size: 14px;
		    text-align: left;
			}
			&:hover {
				color: @primary-color;
			}
		}
		&.active {
			a {
				color: @text-color-1;
				&:before {
					content: "\f192";
				}
			}
		}
	}
}
.log-form-right {
	.form-title {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 20px;
		padding-bottom: 8px;
		border-bottom: @border;
		font-weight: 600;
		font-size: 17px;
	}
	.control-label {
		font-weight: normal;
	}
	.color-radio {
		span:before {
			top: 0;
		}
	}
	.checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}
	.forget-pass-mgs,
	.lg-a-text {
		color: @text-color-1;
		text-decoration: underline;
		float: right;
		&:hover {
			color: @primary-color;
			text-decoration: none;
		}
	}
	.lg-a-text {
		float: none;
		font-weight: 600;
	}
	.form-group {
		position: relative;
	}
	.dk-text {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.register-step-2 {
	display: none;
}
.benifit-list {
	margin-top: 20px;
	float: left;
	.title {
		font-weight: 700;
		width: 100%;
		margin-bottom: 20px;
	}
	@media (max-width: @screen-xs-max) {
		padding: 15px;
  }
}
.bf-list {
	li {
		margin-bottom: 10px;
		&:before {
			content: "\f05d";
			color: @green;
			left: 15px;
		}
		@media (min-width: @screen-sm-min) {
			&:last-child {
				margin-top: -15px;
				margin-bottom: 0;
			}
	  }
	}
}
.bf-text {
	font-style: italic;
	float: right;
	text-align: right;
	@media (min-width: @screen-sm-min) {
		margin-top: -40px;
  }
}
.forgetpass-modal {
  text-align: center;
  .modal-header {
    height: 60px;
    border-bottom: 0;
    background-color: @bg-color-2;
    border-radius: 6px 6px 0 0;
    .close {
      margin-top: -8px;
      margin-right: -5px;
      font-size: 16px;
    }
    .modal-title {
      font-size: 20px;
      font-weight: 600;
      color: @text-color-1;
    }
  }
  .modal-body {
    padding: 10px 10px 0;
  }
  .modal-dialog {
    @media (min-width: @screen-md-min) {
      width: 320px;
      margin-top: 10%;
    }
  }
}
.forgetpass-form {
  width: 100%;
  margin-top: 10px;
  p {
    color: @text-color-2;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 25px;
  }
  .form-group {
    width: 100%;
    margin-bottom: 10px;
    input {
      height: 40px;
    }
  }
  .btn {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
  }
}
.resetting-pass {
  width: 100%;
  min-height: 100%;
  background-color: @bg-color-2;
  .logo-icon {
    width: 100%;
    &:before {
      content: "";
      width: 119px;
      height: 41px;
      display: block;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../images/icons/logo-icon.png);
    }
  }
  .forgetpass-form {
    width: 100%;
    margin: 127px auto 0;
    .form-title {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
      margin-top: 16px;
    }
    .form-inner {
      background-color: #fff;
      padding: 15px 10px 10px;
      border-radius: 4px;
      .control-label {
        color: @text-color-2;
        font-weight: normal;
      }
    }
    .form-group {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .input-group {
      .input-group-addon {
        border-color: @line-color-1;
        border-radius: 3px 0 0 3px;
        border-right: 0;
        color: @gray;
      }
      .form-control {
        border-left: 0;
        padding-left: 0;
        &:focus {
          border-color: @line-color-1;
        }
      }
    }
    .cancel-btn {
      text-align: center;
      margin-top: 18px;
      font-size: 16px;
      a {
        color: @text-color-2;
        &:hover {
          color: @primary-color;
        }
      }
    }
    @media (min-width: @screen-md-min) {
      width: 320px;
    }
  }
}
