<div class="wrap-banner">
	<div class="row">
		<!--banner-left-->
		<div class="col-xs-12 col-ms-9 banner-left">
			<div class="banner-item banner-1">
				<div class="banner-1-inner">
					<a href="https://myface.vn/tham-gia-la-co-qua.html"><img src="assets/images/upload/banner/banner-2.jpg" alt="myface"></a>
				</div>
        <div class="banner-1-inner">
          <a href="https://shop.myface.vn/shop/dealgiasi"><img src="assets/images/upload/banner/banner-5.jpg" alt="myface"></a>
        </div>
			</div>
		</div><!--/.banner-left-->

		<!--banner-right-->
		<div class="col-xs-12 col-xs-3 banner-right">
			<div class="banner-item banner-2">
				<a href="https://shop.myface.vn/shop/dealgiasi"><img src="assets/images/upload/banner/banner-3.jpg" alt="myface"></a>
			</div><!--/.banner-2-->
			<div class="banner-item banner-3">
				<a href="https://shop.myface.vn/shop/dealgiasi"><img src="assets/images/upload/banner/banner-4.jpg" alt="myface"></a>
			</div><!--/.banner-3-->
		</div><!--/.banner-right-->
	</div>
</div>
