<!--tags-remind-->
<div class="item-property tags-property tags-remind">
	<div class="container">
		<label class="remind-title">Từ khóa gợi ý</label>
	  <ul class="item-property-values">
	    <li class="property-select">
	      <a class="" href="#"><span class="text">Áo đầm</span></a>
	    </li>
	    <li class="property-select">
	      <a class="" href="#"><span class="text">Áo mùa đông</span></a>
	    </li>
	    <li class="property-select">
	      <a class="" href="#"><span class="text">Áo</span></a>
	    </li>
	    <li class="property-select">
	      <a class="" href="#"><span class="text">Áo con nít</span></a>
	    </li>
	    <li class="property-select">
	      <a class="" href="#"><span class="text">Áo nam</span></a>
	    </li>
	  </ul>
	</div>
</div>
<!--keyword-result-->
<div class="keyword-result">
	<div class="container">
		<h3 class="key-title">Áo len đẹp</h3><span class="result-span">có <span class="number-span">1.5689</span> kết quả</span>
	</div>
</div>
<!--search-bar-->
<div class="catebar cate-h-1 searchbar">
	<nav class="container navbar category-nav">
		<ul class="nav navbar-nav cate-list">
			{% for x in [1,2,3] %}  
		  <li class="cate-item">
		    <a class="" href="myface-category-2.html">
		    	<span class="cate-name">Thời trang demo</span>
		    	<span class="result-number">(123)</span>
		    </a>
		  </li>
		  <li class="cate-item">
		    <a class="" href="myface-category-2.html">
		    	<span class="cate-name">Đầm</span>
		    	<span class="result-number">(34567)</span>
		    </a>
		  </li>
		  {% endfor %}
		</ul>
	</nav>
</div>