<div class="header-row-2 shopper-menu is-sticky">
	<div class="container">
		<!--usershop-bar-->
		<div class="filterbar usershop-bar">
			<!--tabs-bar-->
		  <nav class="navbar tabs-bar">
		    <!--filter-->
		    <ul class="tabs-menu tabs-menu">
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang nam</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang nữ</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang bà bầu</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang trẻ em</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">...</a>
		      	<ul class="dropdown-menu tab-sub">
		      		<li><a href="#">Thời trang khác 1</a></li>
		      		<li><a href="#">Thời trang khác 2</a></li>
		      		<li><a href="#">Thời trang khác 3</a></li>
		      	</ul>
		      </li>
		    </ul>

		    <!--filter-->
		    <ul class="tabs-menu pull-right">
		    	<li class="tab-item tab-label">
		      	<label><span class="icon i-product"></span> 35	<span class="tab-span">sản phẩm</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-view"></span> 123 <span class="tab-span">lượt xem</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-like"></span> 345 <span class="tab-span">thích</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-pin"></span> 789 <span class="tab-span">ghim</span></label>
		      </li>
		      <li class="tab-item tab-single">
		      	<a class="shop-about" href="#">Giới thiệu shop</a>
		      </li>
		    </ul>
		 	</nav><!--/.tabs-bar-->
		</div><!--/.usershop-bar-->
	</div>
</div>
