<div class="header-row-2 shopper-menu is-sticky">
	<div class="container">
		<!--usershop-bar-->
		<div class="filterbar usershop-bar">
			<!--tabs-bar-->
		  <nav class="navbar tabs-bar">
		    <!--filter-->
		    <ul class="tabs-menu tabs-menu">
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang nam</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang nữ</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang bà bầu</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">Thời trang trẻ em</a>
		      </li>
		      <li class="tab-item tab-label">
		      	<a href="#">...</a>
		      	<ul class="dropdown-menu tab-sub">
		      		<li><a href="#">Thời trang khác 1</a></li>
		      		<li><a href="#">Thời trang khác 2</a></li>
		      		<li><a href="#">Thời trang khác 3</a></li>
		      	</ul>
		      </li>
		    </ul>

		    <!--filter-->
		    <ul class="tabs-menu pull-right">
		    	<li class="tab-item tab-label">
		      	<label><span class="icon i-product"></span> 35	<span class="tab-span">sản phẩm</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-view"></span> 123 <span class="tab-span">lượt xem</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-like"></span> 345 <span class="tab-span">thích</span></label>
		      </li>
		      <li class="tab-item tab-label">
		      	<label><span class="icon i-pin"></span> 789 <span class="tab-span">ghim</span></label>
		      </li>
		      <li class="tab-item tab-single">
		      	<a class="dropdown-toggle shop-about" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Giới thiệu shop</a>
            <div class="dropdown-menu shop-about-dropdown">
              <!--shop-info-box-->
              <div class="alert">
                <label>Thông tin Shop bán hàng</label>
                <p>
                  <a class="shop-name" href="#">Gucci</a>
                </p>
                <p><span class="lb">Địa chỉ:</span> Tầng B1, Vincom Mega Mall Thảo Điền, 159-161 Xa Lộ Hà Nội, Phường Thảo Điền, Quận 2, Thành Phố Hồ Chí Minh.</p>
                <p class="contact-info-row">
                  <span class="lb">Email:</span> <a href="mailto:Guccihanghieu@gmail.com">Guccihanghieu@gmail.com </a>
                </p>
                <p class="contact-info-row">
                  <span class="lb">Phone:</span> <a href="tel:1900636798">02455254523</a>
                </p>
                <p>Thực Phẩm: Sữa bột cho bé, Sữa Optimum Gold, Thực phẩm chay, Thực phẩm bổ dưỡng, Thực phẩm ăn liền, Thực phẩm tươi, Bột ăn dặm ridielac, Bia Heineken​, Bia Budweiser, Bia Tiger, Kẹo alpenliebe, Bia 333 thùng...<a class="more-product" href="#">Xem thêm</a></p>
              </div>
            </div>
		      </li>
		    </ul>
		 	</nav><!--/.tabs-bar-->
		</div><!--/.usershop-bar-->
	</div>
</div>
