/*
 * Component: Button
 * -----------------
 */

.btn {
  min-width: 100px;
  .border-radius(@btn-border-radius);
  .box-shadow(@btn-boxshadow);
  border: 1px solid transparent;
  &.uppercase {
    text-transform: uppercase
  }

  // Flat buttons
  &.btn-flat {
    .border-radius(0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
  }

  // Active state
  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  // input file btn
  &.btn-file {
    position: relative;
    overflow: hidden;
    > input[type='file'] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      .opacity(0);
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}

//Button color variations
.btn-default {
  background-color: transparent;
  color: @black;
  border-color: @line-color-1;
  .box-shadow(@btn-boxshadow-2);
  &:hover,
  &:active,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: #fff;
    border-color: @btn-color-1;
    background-color: @btn-color-1;
    .box-shadow(none);
  }
}
.btn-primary {
  background-color: @btn-color-1;
  border-color: darken(@btn-color-1, 5%);
  &:hover,
  &:active,
  &:focus,
  &:active:hover,
  &:active:focus {
    background-color: @btn-color-1-hover;
    border-color: @btn-color-1-hover;
  }
}
.btn-secondary {
  background-color: @btn-color-2;
  border-color: darken(@btn-color-2, 5%);
  &:hover,
  &:active,
  &:focus,
  &:active:hover,
  &:active:focus {
    background-color: @btn-color-1;
    border-color: @btn-color-1;
  }
}
.btn-icon {
  >* {
    margin: 0 2px;
  }
}
.btn-cart {
  word-spacing: 2px;
  >* {
    margin: 0 2px;
  }
  >i {
    font-size: 18px;
    margin-right: 6px;
  }
}
.btn-action {
  .btn-icon();
  >* {
    margin: 0 5px;
  }
  width: 210px;
  height: 48px;
  padding: 14px 20px;
  font-size: 16px;
}


