/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
  min-height: 100%;
  min-width: 320px;
  .layout-boxed & {
    height: 100%;
  }
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: @font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25;
  color: @text-color-1;
  overflow-x: hidden;
  overflow-y: auto;
}
header {
}
main {
  width: 100%;
  display: block;
}
footer {
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @font-family;
}
/* General Links */
a {
  color: @link-color;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: @link-hover-color;
}
.orange-text {
  color: @orange;
}
.red-text {
  color: @red;
}
.green-text {
  color: @green;
}
.note {
  color: @text-color-2;
  font-size: 13px;
  font-style: italic;
}
label.error {
  color: @red;
  font-size: 11px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  display: none;
}
sup {
  margin-left: 2px;
  top: -0.4em;
  text-decoration: underline;
  font-size: 65%;
}
img {
  max-width: 100%;
}
.block {
  width: 100%;
  display: table;
}
.divider {
  width: 100%;
  border: 0;
  border-top: @border;
  margin: 20px 0;
}
.box {
  border: @border;
  border-radius: @box-border-radius;
  padding: 10px 10px 15px;
  margin-bottom: 15px;
}
.full-width {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
}
.load-more {
  margin: 25px 0;
  text-align: center;
  .btn-loadmore {
    border-width: 2px;
    font-weight: 600;
    line-height: 1;
  }
}
.fixed-block {
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: none;
  z-index: 9;
  .cart-block,
  .back-to-top {
    width: 40px;
    height: 40px;
  }
  .back-to-top {
    margin-top: 10px;
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//animation
.slide-right {
  display: inline-block;
  position: relative;
  > * {
    position: relative;
  }
  &:before {
    box-sizing: border-box;
    transition: 0.5s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: @primary-color;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
.navbar {
	border-radius: 0;
}
.touch-slide {
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow-y: -moz-scrollbars-none;
}
.sticked {
  position: fixed;
  top: 0;
  z-index: 20;
  &.filterbar {
    margin-bottom: 0;
    border-bottom: 0;
    .tabs-bar {
      margin-bottom: 0;
      border-bottom: 0;
    }
    &.container {
      background: rgba(255, 255, 255, 0.9);
      padding-left: 0;
      padding-right: 0;
      @media (min-width: @screen-lg-min) {
        width: 1140px;
      }
    }
  }
  &.mf-cate-nav {
    background: rgba(240, 241, 243, 0.9);
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 0;
    .navbar {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
