// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-active-color;
    background-color: @dropdown-link-active-bg;
  }
}.blue-dropdown {
	padding: 6px 0;
	color: @blue;
	font-size: 14px;
	font-weight: bold;
	background-color: transparent;
	border: 0;
		&:hover,
	  &:active,
	  &:focus,
	  &:active:hover,
	  &:active:focus {
		color: @primary-color;
		outline: 0;
	}
	.btn-group.open & {
		webkit-box-shadow: none;
    box-shadow: none;
	}
}
.amount-dropdown {
	min-width: auto;
	&.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 68px;
	}
  height: 40px;
  padding-left: 20px;
  background-color: transparent;
  color: @black;
  border-color: @line-color-1;
  .caret {
		border-width: 0 !important;
		position: relative;
	  font: normal normal normal 14px/1 FontAwesome;
		&:before {
			content: "\f107";
			position: absolute;
			top: -6px;
			right: 2px;
		}
	}
	.btn-group.open & {
		webkit-box-shadow: none;
    box-shadow: none;
	}
	&.dropdown-toggle {
    .filter-option {
    	text-align: center !important;
    }
  }
}
.default-dropdown {
	width: 100%;
	background: #fff;
	position: relative;
	select {
		-webkit-appearance: none;
	  -moz-appearance: none;
	  &:-ms-expand {
	  	display: none;
		}
		background: transparent;
		cursor: pointer;
	}
	&:after {
		font: normal normal normal 14px/1 FontAwesome;
		content: "\f107";
		position: absolute;
		top: 10px;
    right: 8px;
	}
}