.modal-title {
	color: @secondary-color;
}
.modal-body {
	color: @text-color-1;
}
.modal-secondary {
	margin: 90px 0;
	.modal-dialog {
		width: 682px;
	}
	.modal-content {
		.box-shadow(0 1px 1px rgba(255, 255, 255, .1));
		.border-radius(@box-border-radius);
		border-color: transparent;
	}
	.modal-header {
		padding: 10px 15px;
		background-color: @secondary-color;
		border-radius: 3px 3px 0 0;
		border: 1px solid @secondary-color;
		.modal-title {
			color: #fff;
			font-size: 20px;
		}
		.amount {
			font-size: 14px;
		}
	}
	.modal-body {
		border: 1px solid @line-color-1;
		border-top: 0;
		border-bottom: 0;
		padding: 15px;
	}
	.close {
		color: #fff;
		opacity: 1;
		margin-top: -3px;
		margin-right: -5px;
	}
}
.modal-footer {
	border: 1px solid @line-color-1;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}
.n-modal {
	.modal-header {
		padding: 0;
	}
	.close {
		width: 30px;
    height: 30px;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 99;
		opacity: 1;
		background: url(../images/icons/close.png);
		background-size: 100% 100%;
		&:hover {
			opacity: 1;
			background-size: 100% 100%;
		}
	}
	.modal-footer {
		background-color: @bg-color-4;
		p {
			margin: 0;
            color: @text-color-2;
		}
	}
}
#order-success-modal {
	.modal-header {
		border-color: transparent;
	}
	.modal-title {
		color: @text-color-1;
		font-size: 30px;
		text-align: center;
		padding: 15px 0;
	}
	.thanks-text {
		font-size: 18px;
		font-weight: 700;
		.shop-name {
			color: @primary-color;
		}
	}
	.invoice-text {
		font-size: 16px;
	}
	.invoice-number {
		color: @green;
		font-weight: 600;
	}
	.mf-view-more {
		font-weight: 600;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
