/*progressbar*/
.checkout-process {
	padding: 40px 0 0;
	margin-left: -25px;
}
.progressbar {
	counter-reset: step;
	li {
		list-style-type: none;
		color: @text-color-2;
		text-align: center;
		width: auto;
		padding: 0 40px;
		float: left;
		position: relative;	
		&:before {
			content: '';
			width: 24px;
			height: 27px;
			background: url('../images/icons/c-cart.png') no-repeat;
			position: absolute;
			left: 50%;
			top: -25px;
			margin-left: -6px;
			display: none;
		}
		&:after {
			content: '';
			height: 1px;
			background: @line-color-2;
			position: absolute;
			left: -40px;
			right: 90px;
			top: -12px;
			z-index: -1;
		}
		&:first-child {
			padding: 0;
			&:after {
				left: 0;
				right: -40px;
			}
		}
		&:last-child {
			padding: 0;
			&:after {
				left: -90px;
				right: 0;
			}
		}
		&.active, 
		&.completed {
			color: @green;
			&:before {
				display: block;
			}
			&:after {
				background: @green;
			}
			&:last-child {
				&:before {
					left: auto;
					right: -3px;
				}
			}
		}
		&.completed {
			color: @text-color-2;
			&:before {
				display: none;
			}
		}
	}
}