.header-row-1 {
	border-bottom: @border;
	margin-bottom: 20px;
	.navbar {
		height: 70px;
		padding: 15px 0;
		margin-bottom: 0;
	}
}
.myfaceshop-logo {
	width: 130px;
	position: relative;
	float: left;
	padding-left: 15px;
	padding-right: 0;
	margin-top: 0px;
	h1{
		width: 100%;
		margin: 0;
		font-size: 20px;
		img {
			width: 100%;
		}
	}
}
.search-nav {
	width: 66%;
	max-width: 750px;
	float: left;
	padding: 0 0 0 15px;
}
.header-search {
	width: 100%;
	border: 2px solid @primary-color;
	margin-top: -2px;
	border-radius: @border-radius;
}
.cate-search {
	.dropdown-toggle {
		min-width: 70px !important;
		height: 38px;
		padding-top: 8px;
		padding-bottom: 10px;
		padding-left: 10px;
		border-color: transparent;
		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			color: @text-color-1;
		}
	}
	&.open {
		.dropdown-toggle {
			background: transparent;
			border-color: transparent;
			&:hover,
			&:focus,
			&:focus:hover {
				background: transparent;
				border-color: transparent;
			}
		}
	}
	.caret {
		right: 17px !important;
    margin-top: -1px !important;
    border-top: 4px solid !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
	}
}
.input-search {
	height: 38px;
	padding: 8px 10px;
	border-color: transparent;
	border-left-color: #cbcbcb;
	&:focus,
	&:active {
		outline: none;
		border-color: transparent;
		border-left-color: #cbcbcb;
	}
}
.btn-search {
	min-width: 38px;
	height: 38px;
	background-image: url(../images/icons/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 34px 34px;
	border-color: transparent;
	font-size: 22px;
	padding: 0 10px;
	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		background-color: transparent;
		background-image: url(../images/icons/search.png);
		border-color: transparent;
		color: @text-color-1;
	}
}
.account-nav {
	width: 275px;
	padding-right: 15px;
	float: right;
	.nav {
		float: right;
		li {
			&.account-block {
				a {
					color: @text-color-1;
					&:hover,
					&:focus:hover {
						color: @primary-color;
						background-color: transparent;
					}
					&:focus {
						color: @text-color-1;
						background-color: transparent;
					}
					&.account-toggle {
						padding: 0 15px 0 20px;
					}
					&.invoice-tracking {
					}
				}
			}
			&.cart-block {
				a {
					padding: 0 15px;
					&:hover,
					&:focus:hover {
						color: @primary-color;
						background-color: transparent;
					}
					&:focus {
						color: @text-color-1;
						background-color: transparent;
					}
				}
			}
		}
	}
}
.account-dropdown {
	top: 23px;
	left: auto;
  right: 0;
  width: auto;
}
.login-dropdown {
	top: 23px;
	left: auto;
	right: 0;
	width: 280px;
	height: 370px;
	padding: 15px;
	border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
	border: @border;
	li {
		.checkbox {
			width: auto;
			display: inline-block;
			margin: 0;
			span {
				&:before {
					top: 0;
				}
			}
		}
		.lg-a-text {
			padding: 0;
			line-height: 1.25;
		}
		.lg-button {
			width: 100%;

		}
	}
}
.account-img {
	width: 38px;
	height: 38px;
	overflow: hidden;
	float: left;
	margin-right: 8px;
	border-radius: 50%;
	background-color: @bg-color-3;
	img {
		width: 100%;
		min-height: 100%;
	}
}
.account-label {
	float: left;
	> span {
		display: block;
	}
	.account-label-1 {
		font-weight: 600;
		&:after {
			content: "\f0d7";
	    width: 15px;
	    height: 15px;
	    position: absolute;
	    top: 4px;
	    right: 0;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: 14px;
	    text-align: right;
		}
	}
}
.invoice-tracking {
	padding: 0 !important;
	display: inline-block !important;
	line-height: 1;
	position: absolute;
	bottom: 3px;
	right: 0;
}
.account-label-2 {
	font-size: 12px;
}
.cart-block {
	width: 67px;
	.cart-link {	
		width: 40px;
		height: 40px;
		float: right;
		display: block;
		position: relative;
		background: url(../images/icons/cart.png) no-repeat center right;
		&:hover {
		}
	}
	.cart-number {
		min-width: 16px;
		height: 16px;
		border-radius: 50%;
		line-height: 16px;
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		background-color: @primary-color;
		font-size: 12px;
		text-align: center;
		color: #fff;
	}
}
.header-row-2 {
	width: 100%;
	height: 60px;
	background-color: @bg-color-3;
	border-bottom: @border;
	margin-bottom: 20px;
	&.mf-cate-nav {
		.category-nav {
			border: 0;
		}
		.cate-item {
			> a {
				height: 61px;
				margin-top: -1px;
			}
		}
	}
	&.breadcrumbs-nav,
	&.shopper-menu {
		height: auto;
		overflow: visible;
	}
}
.cate-list {
	.cate-item {
		> a {
			padding-top: 4px;
			padding-bottom: 4px;
			display: block;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			> span {
				width: 100%;
				display: block;
				text-align: center;
			}
			&:hover {
				border-color: @primary-color;
				background-color: @primary-color;
				.cate-name {
					font-weight: 600;
					color: #fff;
				}
			}
		}
		.cate-name {
			font-weight: 600;
			color: @text-color-2;
		}
	}
}
.cate-icon {
	width: 100%;
  height: 30px;
  margin-bottom: 2px;
  background: url(../images/icons/cate-icon/1.png) no-repeat center center;
  background-size: auto 100%;
}
.cate-item {
	> a {
		&:hover {
			.cate-icon {
				background: url(../images/icons/cate-icon/1-hover.png) no-repeat center center;
			}
		}
	}
	&.cate-2 {
		.cate-icon {
			background: url(../images/icons/cate-icon/2.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/2-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-3 {
		.cate-icon {
			background: url(../images/icons/cate-icon/3.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/3-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-4 {
		.cate-icon {
			background: url(../images/icons/cate-icon/4.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/4-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-5 {
		.cate-icon {
			background: url(../images/icons/cate-icon/5.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/5-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-6 {
		.cate-icon {
			background: url(../images/icons/cate-icon/6.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/6-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-7 {
		.cate-icon {
			background: url(../images/icons/cate-icon/7.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/7-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-8 {
		.cate-icon {
			background: url(../images/icons/cate-icon/8.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/8-hover.png) no-repeat center center;
				}
			}
		}
	}
	&.cate-9 {
		.cate-icon {
			background: url(../images/icons/cate-icon/9.png) no-repeat center center;
		}
		> a {
			&:hover {
				.cate-icon {
					background: url(../images/icons/cate-icon/9-hover.png) no-repeat center center;
				}
			}
		}
	}
}
.promotion-list {
	float: right;
	margin-right: -15px;
}
.navbar-nav > li.promotion-item {
	border-right: @border;
	> a {
		line-height: 27px;
		&:hover {
			background-color: #c8c8c8;
		}
	}
	&:last-child {
		border-right: 0;
	}
}