.cate-icon {
    width: 100%;
    height: 30px;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/icons/cate-icon/iconmd.png);
}
.cate-item {
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/iconmd-hover.png);
            }
        }
    }
}
/*cate thời trang*/
.cate-tt {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-hover.png);
            }
        }
    }
}
.cate-tt-nam {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-nam.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-nam-hover.png);
            }
        }
    }
}
.cate-tt-nu {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-nu.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-nu-hover.png);
            }
        }
    }
}
.cate-tt-capdoi {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-capdoi.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-capdoi-hover.png);
            }
        }
    }
}
.cate-tt-bau {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-bau.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-bau-hover.png);
            }
        }
    }
}
.cate-tt-treem {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-treem.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-treem-hover.png);
            }
        }
    }
}
.cate-tt-phukien {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-phukien.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-phukien-hover.png);
            }
        }
    }
}
.cate-tt-trangsuc {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/tt-trangsuc.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/tt-trangsuc-hover.png);
            }
        }
    }
}
/*cate mẹ bé*/
.cate-mb {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mb.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mb-hover.png);
            }
        }
    }
}
.cate-mb-dodungbe {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mb-dodungbe.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mb-dodungbe-hover.png);
            }
        }
    }
}
.cate-mb-dochoibe {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mb-dochoibe.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mb-dochoibe-hover.png);
            }
        }
    }
}
.cate-mb-thucphambe {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mb-thucphambe.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mb-thucphambe-hover.png);
            }
        }
    }
}
.cate-mb-dome {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mb-dome.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mb-dome-hover.png);
            }
        }
    }
}
/*cate điện tử - linh kiện*/
.cate-dtlk {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/dtlk.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/dtlk-hover.png);
            }
        }
    }
}
.cate-dtlk-dienthoai {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/dtlk-dienthoai.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/dtlk-dienthoai-hover.png);
            }
        }
    }
}
.cate-dtlk-maytinhbang {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/dtlk-maytinhbang.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/dtlk-maytinhbang-hover.png);
            }
        }
    }
}
.cate-dtlk-phukien {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/dtlk-phukien.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/dtlk-phukien-hover.png);
            }
        }
    }
}
/*cate laptop*/
.cate-lt {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/lt.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/lt-hover.png);
            }
        }
    }
}
.cate-lt-maytinh {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/lt-maytinh.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/lt-maytinh-hover.png);
            }
        }
    }
}
.cate-lt-thietbimaytinh {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/lt-thietbimaytinh.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/lt-thietbimaytinh-hover.png);
            }
        }
    }
}
.cate-lt-thietbimang {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/lt-thietbimang.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/lt-thietbimang-hover.png);
            }
        }
    }
}
.cate-lt-thietbivanphong {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/lt-thietbivanphong.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/lt-thietbivanphong-hover.png);
            }
        }
    }
}
/*cate mỹ phẩm*/
.cate-mp {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-hover.png);
            }
        }
    }
}
.cate-mp-trangdiem {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp-trangdiem.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-trangdiem-hover.png);
            }
        }
    }
}
.cate-mp-chamsocda {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp-chamsocda.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-chamsocda-hover.png);
            }
        }
    }
}
.cate-mp-chamsoctoc {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp-chamsoctoc.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-chamsoctoc-hover.png);
            }
        }
    }
}
.cate-mp-nuochoa {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp-nuochoa.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-nuochoa-hover.png);
            }
        }
    }
}
.cate-mp-rangmieng {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/mp-rangmieng.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/mp-rangmieng-hover.png);
            }
        }
    }
}
/*cate hàng tiêu dùng*/
.cate-htd {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/htd.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/htd-hover.png);
            }
        }
    }
}
.cate-htd-dodungnhabep {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/htd-dodungnhabep.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/htd-dodungnhabep-hover.png);
            }
        }
    }
}
.cate-htd-thietbinghenhin {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/htd-thietbinghenhin.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/htd-thietbinghenhin-hover.png);
            }
        }
    }
}
.cate-htd-thietbigiadinh {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/htd-thietbigiadinh.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/htd-thietbigiadinh-hover.png);
            }
        }
    }
}
.cate-htd-dienlanh {
    .cate-icon {
        background-image: url(../images/icons/cate-icon/htd-dienlanh.png);
    }
    > a {
        &:hover {
            .cate-icon {
                background-image: url(../images/icons/cate-icon/htd-dienlanh-hover.png);
            }
        }
    }
}
