{% extends "layout/_layout-checkout.html" %}
{% block header%}
<header>
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-lg-3 shop-logo">
			<a href="#" title="DW Secret Saigon">
				<h1 class="logo-text">DW Secret Saigon</h1>
			</a>
		</div>
		<!--checkout-process-->
		<div class="col-xs-12 col-lg-6 checkout-process">
		</div><!--/.checkout-process-->
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="row hotline">
				<span class="hotline-text">Hotline hỗ trợ:<a class="hotline-number" href="tel:+1900636099">1900 636 099</a></span>
				<span class="note">(08-18h, T2-T7)</span>
			</div>
		</div>
	</div>
</header>
{% endblock %}
{% block page-container %}
<main class="container cart">
	<div class="col-xs-12 col-md-9">
		<div class="panel panel-default">
		  <div class="panel-heading">Giỏ hàng của bạn <span class="amount">(Đang có<span class="orange-text"> 0</span> sản phẩm)</span></div>
		  <div class="panel-body">
        <div class="modal-body cart-emty">
          <p class="emty-label">Không có sản phẩm trong giỏ hàng</p>
          <p class="emty-span">Đừng bỏ lỡ cơ hội chọn sản phẩm yêu thích của bạn.</p>
        </div>
		  </div>
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="box checkout-box-1">
			<p>Đơn hàng của bạn cần trên <strong>150.000</strong>đ để được <strong>miễn phí</strong> vận chuyển tại TP.HCM, Hà Nội.</p>
			<span>(trên <strong>300.000</strong>đ đối với Tỉnh/Thành khác)</span>
		</div>
		<!--box-cart-->
		<div class="box-cart">
			<div class="cart-table">
	      <div class="cart-body">
	        <div class="cart-row sub-price">
	          <div class="cart-left">Tạm tính:</div>
	          <div class="cart-right"><span class="price">0<sup>đ</sup></span></div>
	        </div>
	        <div class="cart-row ship-row">
	          <div class="cart-left">Phí vận chuyển</div>
	          <div class="cart-right"><span class="ship-text">Chưa có</span></div>
	        </div>
	      </div><!--/.cart-body-->
	      <div class="cart-footer">
	        <div class="cart-row total-price">
	          <div class="cart-left">Tổng cộng:</div>
	          <div class="cart-right">
	          	<span class="price">0<sup>đ</sup></span>
	          </div>
	        </div>
	      </div><!--/.cart-footer-->
        <div class="btn-checkout">
					<button type="submit" class="btn btn-primary" disabled="">Đặt hàng <i class="fa fa-angle-right"></i></button>
				</div>
      </div>
		</div><!--/.box-cart-->
		<p class="cart-back-box"><a class="cart-back-btn" href="myface-shop.html">Mua thêm sản phẩm khác <i class="fa fa-angle-right"></i></a></p>
	</div>
</main>
{% endblock %}
