{% extends "layout/_layout-checkout.html" %}
{% block header%}
<header>
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-lg-3 shop-logo">
			<a href="#" title="DW Secret Saigon">
				<h1 class="logo-text">DW Secret Saigon</h1>
			</a>
		</div>
		<!--checkout-process-->
		<div class="col-xs-12 col-lg-6 checkout-process">
			<ul class="progressbar">
				<li class="completed">Địa chỉ nhận hàng</li>
				<li class="completed">Thông tin thanh toán</li>
				<li class="active">Đặt hàng - xong</li>
			</ul>
		</div><!--/.checkout-process-->
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="row hotline">
				<span class="hotline-text">Hotline hỗ trợ:<a class="hotline-number" href="tel:+1900636099">1900 636 099</a></span>
				<span class="note">(08-18h, T2-T7)</span>
			</div>
		</div>
	</div>
</header>
{% endblock %}
{% block page-container %}
<main class="container checkout-step-3">
	<div class="col-lg-offset-3 col-lg-6">
		<div class="step-3-block st-bl-1">
			<label class="step-block-title"> <span><i class="fa fa-check-circle"></i> </span>Đặt hàng thành công</label>
			<p>Mã đơn hàng của bạn là: <span class="invoice-number">#101200160311.</span></p>
		</div>
		<div class="divider"></div>
		<div class="step-3-block st-bl-2">
			<p><span class="shop-name">DW Secret Saigon</span> cảm ơn vì đã ghé và mua hàng</p>
			<p>Nếu có bất kì vấn đề gì liên quan đến giao nhận & hàng hóa, bạn đừng ngần ngại liên hệ với Shop, Shop sẽ trả lời và hỗ trợ bạn trong thời gian ngắn nhất</p>
		</div>
		<div class="divider"></div>
		<div class="step-3-block st-bl-3">
			<a class="backshop-btn" href="#">Tiếp tục mua sắm tại <label class="shop-name">DW Secret Saigon</label> <i class="fa fa-angle-right"></i></a>
		</div>
	</div>
</main>
{% endblock %}
