{% extends "layout/_layout.html" %}
{% block page-container %}
	<main>
		<!--banner-->
		<div class="banner">
			<img src="assets/images/upload/banner.jpg" alt="myface">
		</div><!--/.banner-->
		<!--nav-filter-->
		<div class="nav-filter">
			<select class="selectpicker filter-product">
		    <option>Tất cả sản phẩm</option>
		    <option>Thời trang nam</option>
		    <option>Thời trang nữ</option>
		  </select>
		  <a class href="#" target="_blank">Giỏ hàng</a>
		</div><!--nav-filter-->
		<!--product-block-->
		<div class="product-list-group">
			<div class="products-list product-list-in-box">
        <!--item-->
        <div class="item">
          <div class="product-img">
            <img src="assets/images/upload/product/product.jpg" alt="Product Image">
          </div>
          <div class="product-info">
            <a href="#" class="product-title">
              <span>Áo Sơ Mi Nam Dáng Ôm màu xanh dương</span>
              <span class="label label-warning pull-right">Sale</span>
            </a>
            <span class="product-description">
              Sử dụng chất liệu cao cấp cùng kiểu dáng hiện đại, áo sơ mi slim fit vạt bầu đem lại nét thanh lịch, sang trọng cho phái mạnh khi ...                
            </span>
          </div>
        </div><!-- /.item -->
      </div>
		</div><!--/.product-block-->
		<!--pagination-->
		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">Trang trước</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">Trang sau</span>
		      </a>
		    </li>
		  </ul>
		</nav><!--/.pagination-->
	</main>
{% endblock %}
