{% extends "layout/_layout-myface-shop.html" %}
{% block page-container %}
<!--breadcrumbs-->
<div class="header-row-2 breadcrumbs-nav">
  <div class="container">
    <!--usershop-bar-->
    <div class="filterbar usershop-bar">
      <!--tabs-bar-->
      <nav class="navbar tabs-bar">
        <!--filter-->
        <ul class="tabs-menu tabs-menu">
          <li class="tab-item tab-label">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="tab-item">
            <a href="myface-category-1.html">Thời trang</a>
            <ul class="dropdown-menu tab-sub">
              <li><a href="myface-category-2.html">Thời trang khác 1</a></li>
              <li><a href="myface-category-2.html">Thời trang khác 2</a></li>
              <li><a href="myface-category-2.html">Thời trang khác 3</a></li>
            </ul>
          </li>
          <li class="tab-item tab-single">
            <a href="myface-category-2.html">Thời trang nữ</a>
          </li>
        </ul>
      </nav><!--/.tabs-bar-->
    </div><!--/.usershop-bar-->
  </div>
</div>
<!--/.breadcrumbs-->
<main class="container">
  <div class="mf-product-wrap">
    <!--close-back-->
    <div class="close-back">
      <a class="close-btn" href="#"></a><!--/.close-back-->
    </div>
    <!--detail-nav-->
    <ul class="detail-nav">
      <li class="arrow arrow-left">
        <a href="#">
          <span class="icon"></span>
        </a>
      </li>
      <li class="arrow arrow-right">
        <a href="#">
          <span class="icon"></span>
        </a>
      </li>
    </ul><!--/.detail-nav-->
  	<!--product-container-->
    <div class="col-xs-12 col-md-10 col-md-offset-1 mf-product-content">
    	<div class="product-container">
        <!--product-info-block-->
        <div class="product-info-block mf-product-info-block">
          <h2 class="shop-name">
            <a class="shop-name-inner" href="myface-user-shop.html">
              <span class="shop-img">
                <img src="assets/images/upload/shop-img/user.jpg" alt="myface">
              </span>
              <span class="shop-name-text">Home Venten Korean</span>
            </a>
          </h2>

          <!--products-gallery-->
      		<div class="col-xs-7 product-gallery">
            <div class="product-gallery-header">
              <!--product-title-->
              <h1 class="product-title">
                <span>Set thời trang Gucci </span>
              </h1><!--product-title-->
              <span class="product-date">Cập nhật 5 tháng 5 2016 lúc 18:34</span>
            </div>

            <!--stage-wrap-->
            <div class="stage-wrap">
              <div class="stage">
                <img src="assets/images/upload/product/product-9.jpg" alt="myface">
              </div>
              <div class="thumnail">
                <span class="slider-control slider-prev"><i class="fa fa-angle-left"></i></span>
                <div class="thumnail-inner">
                  <ul class="items">
                    <li class="item active">
                      <img src="assets/images/upload/product/product-9.jpg" alt="myface">
                    </li>
                    {% for x in [1,2,3,4,5] %}
                    <li class="item">
                      <img src="assets/images/upload/product/product-9.jpg" alt="myface">
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <span class="slider-control slider-next"><i class="fa fa-angle-right"></i></span>
              </div>
            </div>  <!--./stage-wrap--> 

            <!--product-detail-->
            <div class="product-detail">
              <div class="tab-content">
                <div class="product-intro short-info" id="">
                  <p>Đầm yếm New Look màu đen sở hữu kiểu dáng ôm vô cùng gợi cảm, tôn lên những đường cong quyến rũ của các cô nàng, kết hợp chất vải cao cấp mang đến cho các bạn gái cảm nhận thoải mái và năng động. </p>
                  <ul style="list-style: square; line-height: 1">
                    <li><p>Thành phần Polyester, Elastane</p></li>
                    <li><p>Dáng ôm khoe triệt để đường cong cơ thể</p></li>
                    <li><p>Thiết kế dáng đầm yếm năng động</p></li>
                    <li><p>Hai túi xéo tiện dụng</p></li>
                    <li><p> Sản xuất tại Ma-Rốc. Thương hiệu: Anh</p></li>
                  </ul>
                </div>

                <div class="product-intro" id="product-des-1">
                  <h2 class="title">Thông tin sản phẩm</h2>
                  <p>Đầm yếm New Look màu đen sở hữu kiểu dáng ôm vô cùng gợi cảm, tôn lên những đường cong quyến rũ của các cô nàng, kết hợp chất vải cao cấp mang đến cho các bạn gái cảm nhận thoải mái và năng động. </p>
                  <ul style="list-style: square; line-height: 1">
                    <li><p>Thành phần Polyester, Elastane</p></li>
                    <li><p>Dáng ôm khoe triệt để đường cong cơ thể</p></li>
                    <li><p>Thiết kế dáng đầm yếm năng động</p></li>
                    <li><p>Hai túi xéo tiện dụng</p></li>
                    <li><p> Sản xuất tại Ma-Rốc. Thương hiệu: Anh</p></li>
                  </ul>
                  <p style="text-align: center;">
                    <img src="assets/images/upload/product/product-10.jpg" alt="myface">
                  </p>
                  <p style="text-align: center">Được may từ chất liệu tơ tằm cao cấp</p>
                  <p style="text-align: center;">
                    <img src="assets/images/upload/product/product-10.jpg" alt="myface">
                  </p>
                </div>

                <div class="product-intro" id="product-des-2">
                  <h2 class="title">Thông số sản phẩm</h2>
                  <table class="table table-bordered table-label">
                    <tbody>
                      <tr class="row-info">
                        <td><strong>Độ cồn</strong></td>
                        <td>5%</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Xuất xứ</strong></td>
                        <td>Việt Nam</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Hướng dẫn sử dụng</strong></td>
                        <td>Uống trực tiếp, ngon hơn khi uống lạnh</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Hướng dẫn bảo quản</strong></td>
                        <td>Nơi khô ráo, thoáng mát, tránh ánh nắng mặt trời và tránh bị đông đá</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Quy cách đóng gói</strong></td>
                        <td>24 lon/thùng</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Thành phần nguyên liệu</strong></td>
                        <td>Nước, mạch nha, gạo, hoa bia</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Hạn sử dụng</strong></td>
                        <td>12 tháng</td>
                      </tr>
                      <tr class="row-info">
                        <td><strong>Dung tích</strong></td>
                        <td>330 (ml)</td>
                      </tr>
                    </tbody>
                  </table><!-- /.table -->
                </div>    
              </div>

              <!--like-group-wrap-->
              <div class="like-group-wrap">
                <!--lightbox-wrap-->
                <div class="lightbox-wrap" style="width: 100%; top: -90px">
                  <!--add phone number-->
                  <div class="add-number-to-buy">
                    <div class="input-group send-group">
                      <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn">
                      <span class="input-group-btn">
                        <button class="btn btn-primary btn-buy-submit" type="button"><span class="icon"></span>Đặt mua<span class="icon"></span></button>
                      </span>
                    </div>
                    <div class="close-back">
                      <a class="close-btn" href="#"></a><!--/.close-back-->
                    </div>
                  </div><!--./add phone number-->

                  <!--add phone number-->
                  <div class="add-number-to-buy" style="width: 100%; margin-top: 10px;">
                  </div><!--./add phone number-->
                </div><!--/.lightbox-wrap-->

                <div class="block text-center">
                  <button class="btn btn-primary btn-like-action"><span class="icon"></span></button>
                </div>
              </div><!--/.like-group-wrap-->
            </div><!--product-detail-->

            <!--facebook-comment-->
            <div class="alert alert-box">
              <label>Hey! đừng đi vội</label>
              <p>Sản phẩm, chất lượng, dịch vụ Shop có làm bạn hài lòng không? Hãy để lại bình luận, đánh giá để mọi người biết nhé.</p>
            </div>
            <div class="fb-conmment" style="width: 100%">
              <img src="assets/images/upload/fb/fb-2.jpg" alt="myface">
            </div><!--/.facebook-comment-->
          </div><!--./products-gallery-->

          <!--product-info-->
          <div class="col-xs-5 product-info">
            <div class="info-block">
              <label class="block-title">Giao hàng đến:</label>
              <p class="block-text">Toàn quốc, TP.HCM, Hà Nội, Tuyên Quang, lào Cai...</p>
            </div>
            <!--price-block-->
            <div class="info-block price-block">
              <span class="price current">235.000<sup>đ</sup></span>
              <span class="price shipping">(Miễn phí vận chuyển)</span>
              <span class="price original">325.000<sup>đ</sup></span> 
            </div><!--/.price-block-->
            <!--product-property-->
            <div class="product-property mf-product-property">
              <!--color-property-->
              <div class="info-block item-property color-property">
                <div class="item-property-label">
                  <span>Màu sắc:</span>
                </div>
                <ul class="item-property-values">
                  <li class="property-select active">
                    <a class="" href="#"><span class="text">Xanh dương</span></a>
                  </li>
                  <li class="property-select">
                    <a class="" href="#"><span class="text">Xanh lá</span></a>
                  </li>
                  <li class="property-select">
                    <a class="" href="#"><span class="text">Xanh cổ vịt</span></a>
                  </li>
                </ul>
              </div><!--/.color-property-->
              <!--size-property-->
              <div class="info-block item-property size-property">
                <div class="item-property-label">
                  <span>Kích thước:</span>
                </div>
                <ul class="item-property-values">
                  <li class="property-select active">
                    <a class="" href="#"><span class="text">XS</span></a>
                  </li>
                  <li class="property-select">
                    <a class="" href="#"><span class="text">M</span></a>
                  </li>
                  <li class="property-select">
                    <a class="" href="#"><span class="text">XL</span></a>
                  </li>
                </ul>
              </div><!--/.size-property-->
              <!--amount-property-->
              <div class="item-property amount-property">
                <div class="item-property-label">
                  <span>Số lượng:</span>
                </div>
                <div class="item-property-values">
                  <select class="selectpicker select-amount" data-size="5">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>
              </div><!--/.amount-property-->
            </div><!--/.product-property-->

            <div class="info-block add-cart-block">
              <button class="btn btn-primary btn-buy-now"><span class="icon"></span><span class="lr-text">Đặt mua</span><br><span class="sc-text">Nhận hàng - Trả tiền sau</span></button>
              <!--lightbox-wrap-->
              <div class="lightbox-wrap">
                <!--add phone number-->
                <div class="add-number-to-buy">
                  <div class="input-group send-group">
                    <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn">
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-buy-submit" type="button"><span class="icon"></span>Đặt mua<span class="icon"></span></button>
                    </span>
                  </div>
                  <div class="close-back">
                    <a class="close-btn" href="#"></a><!--/.close-back-->
                  </div>
                </div><!--./add phone number-->
              </div><!--/.lightbox-wrap-->

              <button class="btn btn-default btn-add-cart"><span class="icon"></span><span class="lr-text">Thêm vào giỏ</span></button>
            </div>

            <!--adr-->
            <div class="info-block adr">
              <label class="block-title">Sản phẩm tương tự của Shop</label>
              <div class="row shop-list-row">
                <ol class="m-product-list">
                  {% for x in [1,2,3,4] %}  
                  <!--m-product-item-->
                  <li class="col-xs-6 m-product-item">
                    <div class="m-product-inner">
                      <div class="m-product-info">
                        <a class="m-product-link" href="myface-product-detail.html">
                          <figure class="m-product-img">
                            <img class="" src="assets/images/upload/product/product-8.jpg" alt="myface">    
                          </figure>
                          <div class="m-product-hover">
                            <h2 class="m-product-name">Áo thun Jeanswest bêđê hồng</h2>
                            <p class="m-product-description">Áo thun jeanswest màu trắng hồng bêdê. Kiểu dáng đẹp, ôm bó sát người...</p>
                            <div class="price-block">
                              <span class="price current">235.000<sup>đ</sup></span>
                              <span class="price original">325.000<sup>đ</sup></span> 
                            </div>
                          </div>  
                        </a>
                      </div>
                    </div>
                  </li><!--/.m-product-item-->
                  {% endfor %}
                </ol>
              </div>
            </div><!--/.adr-->
            <!--product-property-->
            <div class="info-block mf-product-property">
              <!--tags-property-->
              <div class="item-property tags-property">
                <div class="item-property-label">
                  <span>Tags</span>
                </div>
                <ul class="item-property-values">
                  <li class="property-select">
                    <a class="" href="#"><span class="text">Áo đầm</span></a>
                  </li>
                  <li class="property-select">
                    <a class="" href="#"><span class="text">Áo mùa đông</span></a>
                  </li>
                </ul>
              </div><!--/.color-property-->
            </div><!--/.product-property-->
            <div class="info-block">
              <label class="block-title">Mua hàng an toàn</label>
              <p class="">Tìm hiểu kỹ càng thông tin hàng hóa, Shop bán hàng trước khi đặt hàng.</p>
              <p class="">Xem kỹ phí vận chuyển, đóng gói, tổng số tiền phải trả. Liên hệ Shop khi có vấn đề chưa rõ.</p>
              <p class="">Kiểm tra hàng hóa cẩn thận khi nhận hàng.</p>
              <p class="">Không nhận hàng nếu nghi ngờ hàng giả, kém chất lượng, không giống mô tả trên Web.</p>
              <p class="">Thông báo qua số hotline: 1900 636 798 cho đội ngũ CSKH ngay khi gặp các sự cố về đơn hàng, hàng hóa.</p>
              <a class="readmore" href="#">Xem thêm khuyến cáo mua hàng?</a>
            </div>
          </div><!--./product-info-->
        </div><!--/.product-info-block-->
    	</div><!--/.product-container-->
    </div>
  </div>
</main>
{% endblock %}
