{% extends "layout/_layout-product-onface.html" %}
{% block page-container %}
<main>
	<!--nav-filter-->
	<div class="nav-filter">
    <div class="select-filter">
  		<select class="selectpicker blue-select">
  	    <option>Tất cả sản phẩm</option>
  	    <option>Thời trang nam</option>
  	    <option>Thời trang nữ</option>
  	  </select>
    </div>
    <div class="pull-right">
      <a class="btn btn-back" href="index.html"><i class="fa fa-angle-left"></i> <span>Quay về</span></a>
      <button class="btn btn-primary btn-cart" data-toggle="modal" data-target="#invoice-modal"><i class="fa fa-shopping-cart"></i><span>Giỏ hàng</span><span>(2)</span></button>
    </div>
	</div><!--nav-filter-->
	<!--product-container-->
	<div class="product-container">
    <!--product-info-block-->
    <div class="product-info-block">
      <!--products-gallery-->
  		<div class="col-xs-6 product-gallery">
        <div class="stage">
          <img src="assets/images/upload/product/product-2.jpg" alt="myface">
        </div>
        <div class="thumnail">
          <span class="slider-control slider-prev"><i class="fa fa-angle-left"></i></span>
          <div class="thumnail-inner">
            <ul class="items">
              <li class="item active">
                <img src="assets/images/upload/product/product-2.jpg" alt="myface">
              </li>
              {% for x in [1,2,3,4,5] %}
              <li class="item">
                <img src="assets/images/upload/product/product-2.jpg" alt="myface">
              </li>
              {% endfor %}
            </ul>
          </div>
          <span class="slider-control slider-next"><i class="fa fa-angle-right"></i></span>
        </div>   
      </div><!--./products-gallery-->
      <!--product-info-->
      <div class="col-xs-6 product-info">
        <div class="product-header">
          <h1 class="product-title">
            <span>Áo Sơ Mi Nam Dáng Ôm màu xanh dương</span>
            <span class="sale-tag">sale</span>
          </h1>
          <div class="price-block">
            <span class="price current">235.000<sup>đ</sup></span>
            <span class="price original">325.000<sup>đ</sup></span> 
          </div>
          <div class="product-property">
            <div class="item-property color-property">
              <div class="item-property-label">
                <span>Màu sắc:</span>
              </div>
              <ul class="item-property-values">
                <li class="property-select active">
                  <a class="" href="#"><span class="text">Xanh dương</span></a>
                </li>
                <li class="property-select">
                  <a class="" href="#"><span class="text">Xanh lá</span></a>
                </li>
                <li class="property-select">
                  <a class="" href="#"><span class="text">Xanh cổ vịt</span></a>
                </li>
              </ul>
            </div>
            <div class="item-property size-property">
              <div class="item-property-label">
                <span>Kích thước:</span>
              </div>
              <ul class="item-property-values">
                <li class="property-select active">
                  <a class="" href="#"><span class="text">XS</span></a>
                </li>
                <li class="property-select">
                  <a class="" href="#"><span class="text">M</span></a>
                </li>
                <li class="property-select">
                  <a class="" href="#"><span class="text">XL</span></a>
                </li>
              </ul>
            </div>
            <div class="item-property amount-property">
              <div class="item-property-label">
                <span>Số lượng:</span>
              </div>
              <div class="item-property-values">
                <select class="selectpicker select-amount">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="block">
            <a class="btn btn-primary btn-action" href="#"><i class="fa fa-shopping-cart"></i><span>Cho vào giỏ hàng</span></a>
          </div>
        </div>
      </div><!--./product-info-->
    </div><!--/.product-info-block-->
    <!--product-description-->
    <div class="product-detail">
      <ul class="nav nav-tabs product-detail-nav">
        <li class="active"><a id="product-des-1" href="#product-des-1">Giới thiệu sản phẩm</a>
        </li>
        <li><a id="product-des-2" href="#product-des-2">Thông số sản phẩm</a></li>
      </ul>
      <div class="tab-content">
        <div class="product-intro" id="product-des-1">
          <p>Sử dụng chất liệu cao cấp cùng kiểu dáng hiện đại, áo sơ mi slim fit vạt bầu thuộc thương hiệu G2000 đem lại nét thanh lịch, sang trọng cho phái mạnh khi đi làm, đi họp hay tham gia các buổi gặp mặt quan trọng.</p>
          <ul style="list-style: square; line-height: 1">
            <li><p>Vải màu đậm không giặt bằng xà bông có độ tẩy cao</p></li>
            <li><p>Nên lộn trái sản phẩm khi phơ</p></li>
            <li><p>Không phơi sản phẩm màu ở nơi nắng gắt</p></li>
            <li><p>Không ngâm hay giặt sản phẩm màu trắng chung với sản phẩm màu khác</p></li>
          </ul>
          <p style="text-align: center;">
            <img src="assets/images/upload/product/product-2.jpg" alt="myface">
          </p>
        </div>
        <div class="product-intro" id="product-des-2">
          <h2 class="title">Thông số sản phẩm</h2>
          <table class="table table-bordered table-label">
            <tbody>
              <tr class="row-info">
                <td><strong>Độ cồn</strong></td>
                <td>5%</td>
              </tr>
              <tr class="row-info">
                <td><strong>Xuất xứ</strong></td>
                <td>Việt Nam</td>
              </tr>
              <tr class="row-info">
                <td><strong>Hướng dẫn sử dụng</strong></td>
                <td>Uống trực tiếp, ngon hơn khi uống lạnh</td>
              </tr>
              <tr class="row-info">
                <td><strong>Hướng dẫn bảo quản</strong></td>
                <td>Nơi khô ráo, thoáng mát, tránh ánh nắng mặt trời và tránh bị đông đá</td>
              </tr>
              <tr class="row-info">
                <td><strong>Quy cách đóng gói</strong></td>
                <td>24 lon/thùng</td>
              </tr>
              <tr class="row-info">
                <td><strong>Thành phần nguyên liệu</strong></td>
                <td>Nước, mạch nha, gạo, hoa bia</td>
              </tr>
              <tr class="row-info">
                <td><strong>Hạn sử dụng</strong></td>
                <td>12 tháng</td>
              </tr>
              <tr class="row-info">
                <td><strong>Dung tích</strong></td>
                <td>330 (ml)</td>
              </tr>
            </tbody>
          </table><!-- /.table -->
        </div>    
      </div>
      <div class="block text-center">
        <a class="btn btn-primary btn-action" href="#"><i class="fa fa-shopping-cart"></i><span>Cho vào giỏ hàng</span></a>
      </div>
    </div><!--./product-description-->
	</div><!--/.product-container-->
</main>
{% endblock %}
