{% extends "layout/_layout.html" %}
{% block page-container %}
<main>
	<!--banner-->
	<div class="banner">
		<img src="assets/images/upload/banner/banner.jpg" alt="myface">
	</div><!--/.banner-->
	<!--nav-filter-->
	<div class="nav-filter">
    <div class="select-filter">
  		<select class="selectpicker blue-select">
  	    <option>Tất cả sản phẩm</option>
  	    <option>Thời trang nam</option>
  	    <option>Thời trang nữ</option>
  	  </select>
    </div>
    <div class="pull-right">
      <a class="btn btn-back" href="index.html">Quay về</a>
      <a class="btn btn-primary btn-cart" href="#"><i class="fa fa-shopping-cart"></i><span>Giỏ hàng</span><span>(2)</span></a>
    </div>
	</div><!--nav-filter-->
	<!--product-container-->
	<div class="product-container">
    <!--products-gallery-->
		<div class="products-gallery">   
    </div><!--./products-gallery-->
    <!--product-info-->
    <div class="product-info">
    </div><!--./product-info-->
    <!--product-description-->
    <div class="product-description">
      <div class="tab">
      </div>
      <div class="tab-content active" id="">
        <div class="product-intro">
          <div style="text-align: justify;">
            <strong>Lime Orange - Áo Sơ Mi Màu Trắng LO52964-01</strong> - mang tông màu trắng tinh khôi như nắng mai cùng chất liệu vải voan mềm rũ, mang đến cho bạn gái nét đẹp dịu dàng, nữ tính, không kém phần quyến rũ. Đặc biệt chi tiết cổ lật tạo điểm nhấn cá tính và ấn tương trong phong cách thời trang của bạn. Bạn gái sẽ vô cùng tự tin dạo bước trên phố hay tham gia các buổi họp mặt bạn bè vui nhộn, đầy thú vị.<br>
            <br>
            <strong>Thông tin chi tiết sản phẩm:&nbsp;</strong><br>
            <br>
            - Chất liệu vải voan mềm nhẹ, thoáng mát<br>
            - Màu: trắng<br>
            - Cổ V lật cách điệu<br>
            - Tay dài, có nút cài ở gấu tay áo, khoét giọt nước cách điệu<br>
            - Vạt bầu<br>
            - Áo không co giãn
            <p style="text-align: center;">
              <img src="https://mymall.vn/static/images/2015/11/13/1447408333_1.jpg" style="font-family: arial, helvetica, sans-serif; font-size: 14px; height: 500px; width: 500px;">
            </p>
          </div>
        </div>
        <h2>Thông số sản phẩm</h2>
        <table class="table table-bordered" id="">
          <tbody>
            <tr class="row-info">
                <td><strong>Độ cồn</strong></td>
                <td>5%</td>
            </tr>
            <tr class="row-info">
                <td><strong>Xuất xứ</strong></td>
                <td>Việt Nam</td>
            </tr>
            <tr class="row-info">
                <td><strong>Hướng dẫn sử dụng</strong></td>
                <td>Uống trực tiếp, ngon hơn khi uống lạnh</td>
            </tr>
            <tr class="row-info">
                <td><strong>Hướng dẫn bảo quản</strong></td>
                <td>Nơi khô ráo, thoáng mát, tránh ánh nắng mặt trời và tránh bị đông đá</td>
            </tr>
            <tr class="row-info">
                <td><strong>Quy cách đóng gói</strong></td>
                <td>24 lon/thùng</td>
            </tr>
            <tr class="row-info">
                <td><strong>Thành phần nguyên liệu</strong></td>
                <td>Nước, mạch nha, gạo, hoa bia</td>
            </tr>
            <tr class="row-info">
                <td><strong>Hạn sử dụng</strong></td>
                <td>12 tháng</td>
            </tr>
            <tr class="row-info">
                <td><strong>Dung tích</strong></td>
                <td>330 (ml)</td>
            </tr>
          </tbody>
        </table><!-- /.table -->    
      </div>
      <div class="block text-center">
        <a class="btn btn-primary btn-action" href="#"><i class="fa fa-shopping-cart"></i><span>Cho vào giỏ hàng</span></a>
      </div>
    </div><!--./product-description-->
	</div><!--/.product-container-->
</main>
{% endblock %}
