{% extends "layout/_layout-support-center.html" %}
{% block support-center %}
	<div class="container support-container">
		<div class="row">
			<div class="col-sm-4 col-md-3 sidebar">
			  <div class="sidebar-label">
			    <a class="sidebar-tab-selector" href="#"></a>
			    <ul class="sidebar-list sidebar-drop">
			      <li class="active">
			        <a href="#">Tốc độ giao hàng</a>
			      </li>
			      <li class="">
			        <a href="#">Hướng dẫn hủy đơn hàng</a>
			      </li>
			      <li class="">
			        <a href="#"">Hướng dẫn đổi hàng & trả hàng hoàn tiền</a>
			      </li>
			      <li class="">
			        <a href="#">Hướng dẫn kiểm tra đơn hàng</a>
			      </li>
			      <li class="">
			        <a href="#"">Hướng dẫn cách đặt hàng</a>
			      </li>
			    </ul>
			  </div>
			</div>
			<div class="col-sm-8 col-md-9 supportcontent">
				<div class="support-div-1">
					<h2 class="sp-title">Tốc độ giao hàng</h2>
					<div class="sp-content">
						<label>Các quận trung tâm TPHCM:</label>
						<p>My Mall sẽ giao đơn hàng đến quý khách trong vòng 3-5 ngày làm việc (không tính thứ 7 và chủ nhật) tính từ lúc đơn hàng xác nhận thành công trên hệ thống.</p>
						<label>Các quận ngoại thành TPHCM (Củ Chi, Hóc Môn, Cần Giờ):</label>
						<p>MyMall.vn sẽ giao đơn hàng đến quý khách trong vòng 3-5 ngày làm việc (không tính thứ 7 và chủ nhật) tính từ lúc đơn hàng xác nhận thành công trên hệ thống.</p>
						<label>Các khu vực khác do đội giao nhận MyMall.vn giao hàng:</label>
						<p>MyMall.vn sẽ giao đơn hàng đến quý khách trong vòng 5-7 ngày làm việc (không tính thứ 7 và chủ nhật) tính từ lúc đơn hàng xác nhận thành công trên hệ thống.</p>
						<label>Các khu vực khác do đội giao nhận liên kết khác giao hàng:</label>
						<p>MyMall.vn sẽ giao đơn hàng đến quý khách trong vòng 7 ngày làm việc (không tính thứ 7 và chủ nhật) tính từ lúc đơn hàng xác nhận thành công trên hệ thống.</p>
						<p>Ngoài ra quý khách cũng có thể liên hệ đến số <b>1900636088</b>, nhân viên bộ phận chăm sóc khách hàng MyMall.vn luôn sẵn sàng hỗ trợ quý khách kiểm tra chính xác thời gian giao nhận đơn hàng. Chúng tôi rất hân hạnh phục vụ bạn.</p>
					</div>
				</div>
				<div class="support-div-2">
					<h2 class="sp-title">Liên kết nhanh</h2>
					<div class="sp-content quit-links">
						<div class="row">
						  <div class="col-xs-6 col-sm-4 link-icon-wrap">
						    <a class="link-icon-support" href="#" title="">
						      <label><span class="sp-icon icon1"></span></label>
						      <span class="text">Tốc độ giao hàng</span>
						    </a>
						  </div>
						  <div class="col-xs-6 col-sm-4 link-icon-wrap">
						    <a class="link-icon-support" href="#" title="">
						      <label><span class="sp-icon icon2"></span></label>
						      <span class="text">Hướng dẫn hủy đơn hàng</span>
						    </a>
						  </div>
						  <div class="col-xs-6 col-sm-4 link-icon-wrap">
						    <a class="link-icon-support" href="#" title="">
						      <label><span class="sp-icon icon3"></span></label>
						      <span class="text">Hướng dẫn đổi hàng và trả hàng hoàn tiền</span>
						    </a>
						  </div>
						  <div class="col-xs-6 col-sm-4 link-icon-wrap">
						    <a class="link-icon-support" href="#" title="">
						      <label><span class="sp-icon icon4"></span></label>
						      <span class="text">Hướng dẫn kiểm tra đơn hàng</span>
						    </a>
						  </div>
						  <div class="col-xs-6 col-sm-4 link-icon-wrap">
						    <a class="link-icon-support" href="#" title="">
						      <label><span class="sp-icon icon5"></span></label>
						      <span class="text">Hướng dẫn cách đặt hàng</span>
						    </a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}