{% set current_page = 'user-account-address-book' %}
{% extends "layout/_layout-myface-shop.html" %}
{% block page-container %}
<!--main-content-->
<main class="container">
	<div class="wrap-user">
		<!--user-account-header-->
		{% include "block/_account-header.html" %}
		<!--/.user-account-header-->
		<!--user-account-nav-->
		{% include "block/_account-nav.html" %}
		<!--./user-account-nav-->
		<!--user-account-content-->
		<div class="user-account-content address-content">
			<div class="col-md-10 col-md-offset-1">
				<div class="user-head">
					<h2 class="user-title">Thông tin giao hàng</h2>
				</div>
				<!--form-wrap-->
				<div class="form-wrap">
					<p class="form-text">
						<span class="p-text">Tips:</span> Việc thiết lập thông tin thanh toán sẽ giúp bạn mua hàng thuận tiện hơn. Chúng tôi bảo mật & mã hóa thông tin thanh toán của bạn 100% tin cậy.
					</p>

					<!--form-horizontal-->
					<div class="row form-div">
						<div class="col-md-8 form-left add-address-form">
							{% include "block/_form-address-info.html" %}
			    	</div>
			    	<div class="col-md-2">
			    		<button class="btn add-p-form-btn">
			    			<i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm địa chỉ mới
			    		</button>
			    	</div>
		    	</div><!--/.form-horizontal-->

					<!--address-list-->
					<div class="accordion address-list" id="accordion">
						<div class="panel accordion-section">
							<ul class="row address">
						    <li class="col-md-4">
						    	<p class="address-p-1">
						    		<label class="u-name">Tuần lộc vui vẻ</label>
						    		<span class="span-divider">-</span>
						    		<span class="u-phone">0902559591</span>
						    	</p>
						    	<p class="address-p-1">27A Hồ Văn Huê, P.6, Q. Phú Nhuận, TP, HCM</p>
						    </li>
						    <li class="col-md-2">
						   		<div class="box-tools pull-right">
				            <button type="button" class="btn btn-box-tool" title="chỉnh sửa" data-toggle="collapse" data-parent="#accordion" data-target="#accordion-1">
				            	<i class="fa fa-edit" aria-hidden="true"></i>
				            </button>
				            <button type="button" class="btn btn-box-tool" title="xóa">
				            	<i class="fa fa-times" aria-hidden="true"></i>
				            </button>
				          </div>
						    </li>
						    <li class="col-md-6">
						    	<button class="btn pull-right">
						    		Đặt làm mặc định
					    		</button>
						    </li>
						  </ul>

						  <div class="collapse address-details accordion-section-content" id="accordion-1">
						  	<div class="row">
									<div class="col-md-8 form-left" style="">
					    			{% include "block/_form-address-info.html" %}
						    	</div>
						    </div>
						  </div><!--./accordion-section-content-->
						</div>

						<div class="panel accordion-section">
							<ul class="row address">
						    <li class="col-md-4">
						    	<p class="address-p-1">
						    		<label class="u-name">Tuần lộc vui vẻ</label>
						    		<span class="span-divider">-</span>
						    		<span class="u-phone">0902559591</span>
						    	</p>
						    	<p class="address-p-1">27A Hồ Văn Huê, P.6, Q. Phú Nhuận, TP, HCM</p>
						    </li>
						    <li class="col-md-2">
						   		<div class="box-tools pull-right">
				            <button type="button" class="btn btn-box-tool" title="chỉnh sửa" data-toggle="collapse" data-parent="#accordion" data-target="#accordion-2">
				            	<i class="fa fa-edit" aria-hidden="true"></i>
				            </button>
				            <button type="button" class="btn btn-box-tool" title="xóa">
				            	<i class="fa fa-times" aria-hidden="true"></i>
				            </button>
				          </div>
						    </li>
						    <li class="col-md-6">
						    	<button class="btn pull-right">
						    		Đặt làm mặc định
					    		</button>
						    </li>
						  </ul>

						  <div class="collapse address-details accordion-section-content" id="accordion-2">
						  	<div class="row">
									<div class="col-md-8 form-left" style="">
					    			{% include "block/_form-address-info.html" %}
						    	</div>
						    </div>
						  </div><!--./accordion-section-content-->
						</div>
					</div><!--./address-list-->
				</div><!--/.form-wrap-->
			</div>
		</div><!--./user-account-content-->
	</div>
</main>
{% endblock %}
