{% set current_page = 'user-account-change-info' %}
{% extends "layout/_layout-myface-shop.html" %}
{% block page-container %}
<!--main-content-->
<main class="container">
	<div class="wrap-user">
		<!--user-account-header-->
		{% include "block/_account-header.html" %}
		<!--/.user-account-header-->
		<!--user-account-nav-->
		{% include "block/_account-nav.html" %}
		<!--./user-account-nav-->
		<!--user-account-content-->
		<div class="user-account-content general-content">
			
		</div><!--./user-account-content-->
	</div>
</main>
{% endblock %}
