{% extends "_layout-base.html" %}
{% block page-containerclass%}support-center{% endblock %}
<!--header-->
{% block header%}
<header>
	<div class="container">
		<div class="col-xs-12 col-sm-6 shop-logo">
			<a href="index.html" title="myFace Shop">
				<h1 class="logo-text">
					<img class="" src="assets/images/logo/logo.png" alt="myface">	
				</h1>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row hotline">
				<span class="hotline-text"><a class="hotline-number" href="tel:+1900636099">1900 636 798</a></span>
				<span class="note">(08-18h, T2-T7)</span>
			</div>
		</div>
	</div>
</header>
{% endblock %}
<!--page-container-->
{% block page-container %}
<main>
	<div class="cover-img" style="background-image: url(assets/images/upload/banner/cover-img.jpg)">
		<div  class="container">
			<div class="input-group support-search">
			  <input type="text" aria-label="..." class="form-control input-search" placeholder="Xin chào! myFace Shop có thể giúp được gì cho bạn!">
			  <div class="input-group-btn">
			    <button class="btn btn-default btn-search"></button>
			  </div>
			</div>
		</div>
	</div>
	<nav class="support-nav">
		<div class="container">nav
		</div>
	</nav>
	{% block support-center %}
	{% endblock %}
</main>
{% endblock %}
<!--footer-->
{% block footer%}
{% include "../block/_footer.html" %}
{% endblock %}
<!--modal-->
{% block modal%}
{% endblock %}