{% extends "_layout-base.html" %}
{% block page-containerclass%}checkout checkout-myface mf-register{% endblock %}
<!--header-->
{% block header%}
<header>
	<div class="container">
		<div class="col-xs-4 col-sm-6 col-lg-3 shop-logo">
			<a href="index.html" title="myFace Shop">
				<h1 class="logo-text">
					<img class="" src="assets/images/logo/logo.png" alt="myface">
				</h1>
			</a>
		</div>
		<!--checkout-process-->
		<div class="col-xs-8 col-sm-6 col-lg-offset-3">
			<div class="row help-nav">
				<ul class="nav navbar-nav">
		      <li class="">
		      	<a href="#">Hướng dẫn đăng ký</a>
		      </li>
		      <li class="">
		      	<a href="#">Trợ giúp</a>
		      </li>
		    </ul>
			</div>
		</div>
	</div>
</header>
{% endblock %}
<!--page-container-->
{% block page-container %}{% endblock %}
<!--footer-->
{% block footer%}
<footer class="text-center">
  <p><i class="fa fa-phone" aria-hidden="true"></i> Hỗ trợ từ myFace Shop: <a class="hotline-number" href="tel:+1900636798">1900 636 798</a> (Từ 8h00 - 22h00 tất cả các ngày )</p>
</footer>
{% endblock %}
