{% extends "_layout-base.html" %}
{% block page-containerclass%}checkout{% endblock %}
<!--header-->
{% block header%}
{% include "../block/_checkout-header.html" %}
{% endblock %}
<!--page-container-->
{% block page-container %}{% endblock %}
<!--footer-->
{% block footer%}
{% include "../block/_footer.html" %}
{% endblock %}
<!--modal-->
{% block modal%}
{% include "../block/modal/_invoice-modal.html" %}
{% include "../block/modal/_invoice-emty-modal.html" %}
{% include "../block/modal/_alert-modal.html" %}
{% endblock %}